.buttonLogin {
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    padding: 2px 5px 5px 5px;
    color: #fff;
    cursor: pointer;
    border: solid 1px #14539a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #14539a;
}

.buttonLogin:hover,
active {
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    padding: 2px 5px 5px 5px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #0c3561;
    background-color: #0c3561;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonRedial {
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    padding: 2px 5px 5px 5px;
    color: #fff;
    border: solid 1px #0b7dd6;
    background-color: #0b7dd6;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonRedial:hover,
active {
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    padding: 2px 5px 5px 5px;
    color: #fff;
    border: solid 1px #0b7dd6;
    background-color: #0b7dd6;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonSave {
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    padding: 2px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
    color: #fff;
    border: solid 1px #0b7dd6;
    background-color: #0b7dd6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonSave:hover,
active {
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    padding: 2px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
    color: #fff;
    border: solid 1px #007ef7;
    background-color: #007ef7;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonSave2 {
    font-size: 14px;
    padding: 2px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    color: #fff;
    border: solid 1px #008d4c;
    background-color: #008d4c;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonSave2:hover,
active {
    font-size: 14px;
    padding: 2px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    color: #fff;
    border: solid 1px #00a65a;
    background-color: #00a65a;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonFind:hover,
active {
    font-size: 14px;
    height: 30px;
    padding: 2px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    font-weight: 400;
    color: #666;
    border: 1px solid #ffd700;
    background-color: #ffd700;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonFind {
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    padding: 2px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    color: #666;
    cursor: pointer;
    border: solid 1px #fcc814;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fcc814;
}

.buttonGray:hover,
active {
    font-size: 14px;
    height: 35px;
    margin: 3px;
    padding: 2px 5px 5px 5px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #008d4c;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonGray {
    font-size: 14px;
    font-weight: 400;
    height: 35px;
    margin: 3px;
    padding: 2px 5px 5px 5px;
    color: #666;
    cursor: pointer;
    border: solid 1px #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonCancle {
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    padding: 2px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
    color: #fff;
    border: solid 1px #b50000;
    background-color: #b50000;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonCancle:hover,
active {
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    padding: 2px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    color: #fff;
    border: solid 1px #b50000;
    background-color: #b50000;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonDisable:hover,
active {
    font-size: 14px;
    font-weight: 400;
    height: 35px;
    margin: 3px;
    padding: 2px 5px 5px 5px;
    color: #666;
    cursor: pointer;
    border: solid 1px #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonDisable {
    font-size: 14px;
    font-weight: 400;
    height: 35px;
    margin: 3px;
    padding: 2px 5px 5px 5px;
    color: #666;
    cursor: pointer;
    border: solid 1px #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonMenu {
    font-size: 14px;
    height: 30px;
    padding: 2px 5px 2px 5px;
    margin: 2px 2px 2px 2px;
    color: #363636;
    cursor: pointer;
    border: solid 1px #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonMenu:hover,
active {
    font-size: 14px;
    height: 30px;
    padding: 2px 5px 2px 5px;
    margin: 2px 2px 2px 2px;
    color: #fff;
    border: solid 1px #00a65a;
    background-color: #00a65a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonMenuA {
    font-size: 14px;
    height: 30px;
    margin: 2px 2px 2px 2px;
    padding: 2px 5px 5px 5px;
    color: #fff;
    border: solid 1px #0b7dd6;
    background-color: #0b7dd6;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonMenuA:hover,
active {
    font-size: 14px;
    height: 30px;
    margin: 2px 2px 2px 2px;
    padding: 2px 5px 5px 5px;
    color: #fff;
    border: 1px solid #00a65a;
    background-color: #00a65a;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonMenuB {
    font-size: 14px;
    height: 30px;
    margin: 2px 2px 2px 2px;
    padding: 2px 5px 5px 5px;
    color: #363636;
    border: solid 1px #fcc814;
    background-color: #fcc814;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fcc814;
}

.buttonMenuB:hover,
active {
    font-size: 14px;
    height: 30px;
    margin: 2px 2px 2px 2px;
    padding: 2px 5px 5px 5px;
    color: #fff;
    border: 1px solid #0b7dd6;
    background-color: #0b7dd6;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonMenuC {
    font-size: 14px;
    height: 35px;
    margin: 3px;
    padding: 2px 5px 5px 5px;
    color: #fff;
    border: solid 1px #008d4c;
    background-color: #008d4c;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonMenuC:hover,
active {
    font-size: 14px;
    height: 35px;
    margin: 3px;
    padding: 2px 5px 2px 5px;
    color: #fff;
    border: solid 1px #0b7dd6;
    background-color: #0b7dd6;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}