@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

Body{
	background: #fff;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #555;
	font-size: 13px;
	line-height: 25px;	
}
.menu_bar{
	background: url(../images/menu-bar.jpg) repeat-x top left; 
	height: 36px;	
}

.validateAlert {
	background-color: #f8dada;
	color: #b22222;
	font-family:Helvetica,Arial,sans-serif;
font-weight: normal;
font-size:11px;
border: 1px solid #dc143c;
	 border-radius: 5px;
	  border-radius: 5px;
    -moz-border-radius: 5px;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	vertical-align: middle;
	padding: 5px 5px 5px 5px;

}



.linkdowload {

		font-family:Helvetica,Arial,sans-serif;
font-weight: normal;
font-size:11px;
	color: #fff;	
	vertical-align: middle;
	
}

.linkdowload a, 
.linkdowload a:link,
.linkdowload a:visited  {
	font-size: 11px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #fff;
}

.linkdowload a:active, 
.linkdowload a:hover,
.linkdowload a:visited:hover
{
   font-size: 11px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #fff;
}



.texttopic{
	 	font-size: 13px;
	color:#555;
}
.ui-dialog
{
    z-index: 101;
	 background-color: black;
}
 #login_Sheet{
 	background-color: #aeda6b;
	height: 100%;
 }
 .userlogged{
 	font-size: 11px;
	color:#74a923;
 }
  #main_Sheet{
 	background-color: #fff;
	height: 600px;
 }
 
 .sub-menu {
 	background-color: #f2f2f2;
	height: 40px;
 }
img,img a{
	border: 0;
}
img a:hover
{
opacity:1.0;
filter:alpha(opacity=40); /* For IE8 and earlier */
}
#clearboth {
   clear:both;
	height: 10px;
}
.header {
	background-color: #74a923;
	
}




#line_gray{
	background-color: #ddd;
	height: 2px;
	line-height: 2px;
}

#line_green {
	background-color: #629826;
	height: 3px;
	line-height: 3px;
}


#menutop-projectname {
		background-color: #ef8200; /*fcce2f*/
		
	 border-bottom-left-radius: 10px;
	  border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
	 -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	height: 25px; 
	color: #fff;
	font-size: 11px;
	float: right;
	vertical-align: middle;
	padding: 5px 5px 5px 5px;
	font-family:Helvetica,Arial,sans-serif;
font-weight: normal;font-size:13px;

}

#Login_Block{
		background-color: #5b9207;
		font-family:Helvetica,Arial,sans-serif;
font-weight: normal;
font-size:13px;
	 border-bottom-radius: 10px;
	  border-bottom-radius: 10px;
    -moz-border-radius: 10px;
	 -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	color: #fff;
	float: right;
	vertical-align: middle;
	padding: 5px 5px 5px 5px;
}



#menutop-lang {
		background-color: #74a923;
		font-family:Helvetica,Arial,sans-serif;
font-weight: normal;
font-size:13px;
	 border-bottom-left-radius: 10px;
	  border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
	 -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	height: 25px; 
	width: 250px;
	color: #fff;
	float: right;
	vertical-align: middle;
	padding: 5px 5px 5px 5px;
}

#menutop-lang a, 
#menutop-lang a:link,
#menutop-lang a:visited  {
	font-size: 11px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #fff;
}

#menutop-lang a:active, 
#menutop-lang a:hover,
#menutop-lang a:visited:hover
{
   font-size: 11px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #fff;
}


#linemenutop {
	background-color: #ddd;
	height: 1px;
	line-height: 1px;
}

.lang {
	 font-size: 12px;font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #868686;
}
.lang a, 
.lang a:link,
.lang a:visited  {
	font-size: 12px;font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #868686;
}

.lang a:active, 
.lang a:hover,
.lang a:visited:hover
{
   font-size: 12px;font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #002664;
}


.block_module{
	border: 1px solid #aaa;
	padding: 10px 10px 0px 10px;
	margin: 0 0 0 0;
}

.block_menu{
	border: 1px solid #aaa;
	padding: 5px 5px 5px 5px;
	margin: 0 0 0 0;

}
.topichead{
	font-size: 13px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
}


h1{
	font-size: 20px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #74a923;
	margin: 0 0 0 0;
	padding: 5px 0 5px 0;
	
}
h4{
	 
	font-size: 16px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #002664;
	margin: 0 0 0 0;
	padding: 3px 0 3px 0;
 
}
h5{
	font-size: 14px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000;
	margin: 0 0 0 0;
	padding: 3px 0 3px 0;
}
h6{
	font-size: 14px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #002664;
	margin: 0 0 0 0;
	padding: 3px 0 3px 0;
}

.NewsUpdate {
	font-size: 11px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #666;
}
 
 .big_slide{
 
	border-bottom: 4px solid #74a923;
	width: 100%;
	height: 300px;
	background-position: Top right;
	background-repeat: no-repeat;
	vertical-align: bottom;
	background: #ececec;
 }
  
.BannerBorderWhite {
		background-color: #fff;
		 border-radius: 10px;
	  border-radius: 10px;
    -moz-border-radius: 10px;
	 -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	-webkit-border-radius: 10px; 
	vertical-align: middle;
	padding: 10px 10px 10px 10px;
}

#footer_forgot {
	 
    position: fixed;  
    left:0px;  
    bottom:0px;  
    width:100%;  
    z-index: 99;  	 
	font-size: 12px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;	 
	color: #fff;
	background: #74a923;
	height: 25px; 
	padding: 4px 0 0 0;
	 
}

#footerLogin {
	 
    position: fixed;  
    left:0px;  
    bottom:0px;  
    width:100%;  
    z-index: 99;  	 
	font-size: 12px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;	 
	color: #fff;
	background: #8ac006;
	height: 25px; 
	padding: 4px 0 0 0;
	 
}
#footer topic {
	font-size: 14px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;	 
	color: #fff;
}
  

 
.txtlogin[type=login],.txtlogin[type=Password]{

		font-family: "Lucida Grande", Arial, Helvetica;
font-size: 14px;
font-style: normal;
font-weight: bold;
border:1px solid #8D9AA3;
background-color: #fff;
height: 20px;
color:#8d9aa3;
text-align: center;
padding:2px 0 2px 0;
 border--radius: 5px;
	  border--radius: 5px;
    -moz-border-radius: 5px;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	
}

.txtlogin{
	 
		font-family: "Lucida Grande", Arial, Helvetica;
font-size: 14px;
font-style: normal;
font-weight: bold;
border:1px solid #8D9AA3;
background-color: #fff;
height: 20px;
color:#8d9aa3;
text-align: center;
padding:2px 0 2px 0;
cursor: text;

 border--radius: 5px;
	  border--radius: 5px;
    -moz-border-radius: 5px;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	
}

.txtlogin:focus,active,hover{
font-family: "Lucida Grande", Arial, Helvetica;
font-size: 14px;
font-style: normal;
font-weight: bold;
border:1px solid #8D9AA3;
background-color: #fafbd4;
height: 20px;
color:#8d9aa3;
text-align: center;
padding: 2px 0 2px 0;

-webkit-box-shadow: -1px 0px 5px #fff;
-moz-box-shadow:    -1px 0px 5px #fff;
box-shadow:         -1px 0px 5px #fff;
}

.txtlogin:hover{
font-family: "Lucida Grande", Arial, Helvetica;
font-size: 14px;
font-style: normal;
font-weight: bold;
border:1px solid #8D9AA3;
background-color: #fafbd4;
height: 20px;
color:#8d9aa3;
text-align: center;
padding:2px 0 2px 0;
-webkit-box-shadow: -1px 0px 5px #fff;
-moz-box-shadow:    -1px 0px 5px #fff;
box-shadow:         -1px 0px 5px #fff;
 
}

 


input[type=text]{
	
		font-family: "Lucida Grande", Arial, Helvetica;
font-size: 14px;
font-style: normal;
font-weight: bold;
border:1px solid #8D9AA3;
background-color: #fff;
height: 20px;
color:#8d9aa3;
text-align: center;
padding:2px 0 2px 0;
cursor: text;
 border--radius: 5px;
	  border--radius: 5px;
    -moz-border-radius: 5px;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	
}


.Objcontrol{
	border:1px solid #8D9AA3;
background-color: #fff;
height: 20px;
font-size: 13px;
	color:#555;
}
/* ----------------from STH ---------*/

	
.widthfull {
	WIDTH: 100% !important;
	BACKGROUND-COLOR: #fff; 
	MARGIN: 0px auto; ; 
	OVERFLOW: hidden;
}

.menu_Header{
font-size: 12px;
font-style: normal;
font-weight: bold;
text-align: left;
text-decoration: underline;
  color: #8ac006;  
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	padding: 0px 5px;

}


.Page_Header{
font-size: 20px;
font-style: normal;
text-align: left;
  color: #73a822;  
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	padding: 5px 0px 5px 0px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	border-bottom: 1px solid #eee;
	
}

.navigation { float:right;  color:#73a822; 
 font: bold 12px "Lucida Grande", Arial, Helvetica;; bold 12px; bold;
}

a.navigation:link { color:#73a822;}
a.navigation:active {color:#73a822;  }
a.navigation:hover {color:#545454;  }
a.navigation:visited {color:#73a822;}
a.navigation:hover:visited {color:#545454; }


.shell { width:100%; margin:0 auto; }

#top {  background: #73a822; vertical-align: middle;  height:33px; }
#header {  	
	background: url(../images/header_03.png) repeat-x bottom left; 
	width:100%; }

.textblack {
	  COLOR: #000000;
}


#main { width:100%;}

#content { padding-top:0px; }


.headername{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	padding: 5px 20px;
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	font-size: 30px;
}


.Topic_header{
 font-family: 'BebasNeueRegular', 'Arial Narrow', Verdana, Geneva, Arial, Helvetica, Sans-Serif !important; 
	color: #73a822;
	font-size: 14px;
text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	}
.txtcontent{
	
font-size: 12px;
font-style: normal;
text-align: left;
  color: #333333;
}


/* Start images */
a img
{
	border: 0;
}

a
{
font-family: Tahoma, "MS Sans Serif", Arial;
text-decoration: none;
  color: #3B3B3B;
}

/* Adds special style to an unvisited link. */
a:link
{
font-family: "Lucida Grande", Helvetica,Tahoma, "MS Sans Serif", Arial;
text-decoration: none;
  color: #3B3B3B;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
font-family: "Lucida Grande", Helvetica,Tahoma, "MS Sans Serif", Arial;
text-decoration: none;
  color: #3B3B3B;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
font-family: "Lucida Grande", Helvetica,Tahoma, "MS Sans Serif", Arial;
text-decoration: none;
  color: #73a822;
}


.input_control
{
font-family: "Lucida Grande", Arial, Helvetica;
font-size: 12px;
font-style: normal;
font-weight: normal;
border:1px solid #8D9AA3;
background-color: #fde0ef;

} 
.News_Headline{
	BACKGROUND-COLOR: #f7f7f7;
		border-bottom-style:dotted;
	border-bottom-color: #73a822;
	border-bottom-width:1px;
		color:#73a822;
	FONT-SIZE: 14px; FONT-WEIGHT: bold;
	padding : 5px 0px 5px 0px;
}


.clear_float{clear:both; line-height:0; font-size:0; height:0;}
.MenuSt{
	BACKGROUND-COLOR: #f5f5f7;
		border-bottom-style:dotted;
	border-bottom-color: #73a822;
	border-bottom-width:1px;
		color:#73a822;
	FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.txtunderline{
	border-bottom-style:dotted;
	border-bottom-color: #696969;
	border-bottom-width:1px;	
	color: #696969;
	FONT-SIZE: 11pt; 
}
.HeadtopReg{
	BACKGROUND-COLOR: #73a822;
		border-bottom-style:dotted;
	border-bottom-color: #73a822;
	border-bottom-width:1px;
	
	color:#FFFFFF;
	FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.skin_input{
	BACKGROUND-COLOR: #f5f5f7;
		border-bottom-style:dotted;
	border-bottom-color: #73a822;
	border-bottom-width:1px;

	color:#73a822;
	FONT-SIZE: 10pt;
}

.TextDataUnderline
{
	font-size:13px;
	font-weight:normal;
	color:Black;
	border-bottom-style: dotted;
	border-bottom-width: 1px ;
	border-bottom-color:Black;
	height: 20px;

}

.text_Caution {
	FONT-FAMILY: "Lucida Grande", Helvetica,Tahoma, "MS Sans Serif", Arial; COLOR: #cc0000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}


.Normal, .normal, #LoginInfo, #QuickLinks, #LoginInfo p.LoginNotes, .nci-PostContent .SubHead, .nci-PostContent .Normal, .SubHead, .WizardText, .SkinObject
{
font-family: "Lucida Grande", Helvetica,Tahoma, "MS Sans Serif", Arial;
font-size: 13px;
color: #696969;
}


.NormalBold
{
font-family: "Lucida Grande", Helvetica,Tahoma, "MS Sans Serif", Arial;
font-size: 13px;
color: #696969;
font-weight: bold;
}
