@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

Body{
	background: #fff;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: Geneva, Arial, Helvetica,Tahama, sans-serif;	
	/*color: #555;*/
	/*color: #666;*/
	font-size: 13px;
	line-height: 25px;
}


.buttonRed {
  padding: 2px 5px 2px 5px;	
	font-size: 14px;
	color: #fff;
		border:solid 1px #d60800;
		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	background: -moz-linear-gradient(top, #d9544f 1%, #d60800 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d9544f), color-stop(100%,#d60800));
	background: -webkit-linear-gradient(top, #d9544f 1%,#d60800 100%);
	background: -o-linear-gradient(top, #d9544f 1%,#d60800 100%);
	background: -ms-linear-gradient(top, #d9544f 1%,#d60800 100%);
	background: linear-gradient(top, #d9544f 1%,#d60800 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
		
} 
.buttonRed:hover,active {
	padding: 2px 5px 2px 5px;	
	font-size: 14px;
	color: #fff;
		border:solid 1px #d60800;
		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	background: -moz-linear-gradient(top, #d9544f 1%, #d60800 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d9544f), color-stop(100%,#d60800));
	background: -webkit-linear-gradient(top, #d9544f 1%,#d60800 100%);
	background: -o-linear-gradient(top, #d9544f 1%,#d60800 100%);
	background: -ms-linear-gradient(top, #d9544f 1%,#d60800 100%);
	background: linear-gradient(top, #d9544f 1%,#d60800 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
		
}
  
  
.bg_Head_Name { 
	border-bottom: 4px solid #e4e4e4;
	
	}
	
#header {  	
	background: #fff; 
	width:100%; }

	#linebottomheader {
	height: 1px;
	line-height: 1px;
	border-bottom: 4px solid #e4e4e4;
	}
	
.shell { width:100%; margin:0 auto; }
#main { width:100%;}
#content { padding-top:0px; 
	height: 100%;
	background-color: #fff;
	
	/*width:1060px;*/
	border-left: 1px solid #e4e4e4; 
	border-right:1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	 border-bottom-left-radius: 10px;
	  border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
	 -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;	
	
}


#line_gray{
	background-color: #ddd;
	height: 2px;
	line-height: 2px;
}

.RefText {
	background-color: #d5ffce;
	color: #556652;
	font-family:Helvetica,Arial,sans-serif;
font-weight: normal;
font-size:11px;
border: 1px solid #9adf8f;
	 border-radius: 6px;
	  border-radius: 6px;
    -moz-border-radius: 6px;
	 -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	-webkit-border-radius: 6px;
	
	vertical-align: middle;
	padding: 2px 5px 2px 5px;
	   

}

.validateAlert {

	background-color: #ffcece;
	color: #db4040;
	font-family:Helvetica,Arial,sans-serif;
font-weight: normal;
font-size:12px;
border: 1px solid #df8f8f;
	 border-radius: 6px;
	  border-radius: 6px;
    -moz-border-radius: 6px;
	 -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	-webkit-border-radius: 6px;
	
	vertical-align: middle;
	padding: 5px 5px 5px 5px;
	text-align: left;
	
}

.GreenAlert {
	background-color: #d5ffce;
	color: #556652;
	font-family:Helvetica,Arial,sans-serif;
font-weight: normal;
font-size:11px;
border: 1px solid #9adf8f;
	 border-radius: 6px;
	  border-radius: 6px;
    -moz-border-radius: 6px;
	 -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	-webkit-border-radius: 6px;
	
	vertical-align: middle;
	padding: 5px 5px 5px 5px;
	   

}
.OptionPanels {
	background-color: #d5ffce;
	color: #006400;
	font-family:Helvetica,Arial,sans-serif;
font-weight: normal;
font-size:14px;
border: 1px solid #9adf8f;
	 border-radius: 6px;
	  border-radius: 6px;
    -moz-border-radius: 6px;
	 -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	-webkit-border-radius: 6px;
	
	vertical-align: middle;
	padding: 5px 5px 5px 5px;
	
	   

}

.NumberCenter{
	text-align: center;
}
.NumberRight{
	text-align: right;
}
.texttopic{
	 	font-size: 13px;
	color:#555;
	font-weight: bold;
}
 #login_Sheet{
 	background-color: #f2f2f2;
	height: 100%;
 }
 .userlogged{
 	font-size: 11px;
	color:#1878ca;
 }

 .sub-menu {
 	background-color: #f2f2f2;
	height: 40px;
 }
img,img a{
	border: 0;
}
img a:hover
{
opacity:1.0;
filter:alpha(opacity=40); /* For IE8 and earlier */
}
#clearboth {
   clear:both;
	height: 10px;
}

.clearboth {
   clear:both;
	height: 10px;
}

 
#menutop-projectname {
		background-color: #ef8200; /*fcce2f*/
		
	 border-bottom-left-radius: 10px;
	  border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
	 -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	height: 25px; 
	color: #fff;
	font-size: 11px;
	float: right;
	vertical-align: middle;
	padding: 5px 5px 5px 5px;
	font-family:Helvetica,Arial,sans-serif;
font-weight: normal;font-size:13px;

}

#menutop-lang {
		background-color: #1878ca;
		font-family:Helvetica,Arial,sans-serif;
font-weight: normal;
font-size:13px;
	 border-bottom-left-radius: 10px;
	  border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
	 -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	height: 25px; 
	color: #fff;
	float: right;
	vertical-align: middle;
	padding: 5px 5px 5px 5px;
}

#menutop-lang a, 
#menutop-lang a:link,
#menutop-lang a:visited  {
	font-size: 13px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #fff;
}

#menutop-lang a:active, 
#menutop-lang a:hover,
#menutop-lang a:visited:hover
{
   font-size: 13px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #fff;
}


#sitelink {
	height: 20px;
	vertical-align: middle;
	padding: 5px 0px 5px 0px;
	
}



.mainmnu{
	font-size: 13px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #1878ca;
}
.mainmnu a, 
.mainmnu a:link,
.mainmnu a:visited  {
	font-size: 13px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #1878ca;
}

.mainmnu a:active, 
.mainmnu a:hover,
.mainmnu a:visited:hover
{
   font-size: 13px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #002664;
}



.slidemnu{
	font-size: 14px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #1878ca;
}
.slidemnu a, 
.slidemnu a:link,
.slidemnu a:visited  {
	font-size: 14px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #1878ca;
}

.slidemnu a:active, 
.slidemnu a:hover,
.slidemnu a:visited:hover
{
   font-size: 14px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #002664;
}

.submnu_service{
	font-size: 13px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #272727;
	background: #ddd;
	line-height: 15px;
	padding: 5px 0 5px 0;
}
.submnu_service a, 
.submnu_service a:link,
.submnu_service a:visited  {
	font-size: 13px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #272727;
}

.submnu_service a:active, 
.submnu_service a:hover,
.submnu_service a:visited:hover
{
   font-size: 13px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #1878ca;
}


.submnu{
	font-size: 11px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #272727;
	
	line-height: 15px;
	padding: 5px 0 5px 0;
}
.submnu a, 
.submnu a:link,
.submnu a:visited  {
	font-size: 11px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #272727;
}

.submnu a:active, 
.submnu a:hover,
.submnu a:visited:hover
{
   font-size: 11px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #1878ca;
}

.clearline {
	height: 10px;
}

.servicemnu{
	font-size: 15px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #002664;
	height: 30px;	
}
.servicemnu a, 
.servicemnu a:link,
.servicemnu a:visited  {
	font-size: 15px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #002664;
}

.servicemnu a:active, 
.servicemnu a:hover,
.servicemnu a:visited:hover
{
   font-size: 15px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #1878ca;
	
}


#linemenutop {
	background-color: #f88e1d;
	height: 3px;
	line-height: 3px;
}

.lang {
	 font-size: 14px;font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #868686;
}
.lang a, 
.lang a:link,
.lang a:visited  {
	font-size: 14px;font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #868686;
}

.lang a:active, 
.lang a:hover,
.lang a:visited:hover
{
   font-size: 14px;font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #002664;
}


ul#menuLeft,ul#menuLeft ul{
	margin: 0 0 0 0;list-style:none;
	background-color:;
	border-right: 2px solid #d3d3d3;
	padding: 10px 5px 0 0px; 
	height: 30px;
	vertical-align: middle;
	float: right;
	}

	
ul#menuRight,ul#menuRight ul{
	margin: 0 0 0 0;list-style:none;
	background-color:;
	border-left: 2px solid #d3d3d3;
	padding: 10px 0 0 5px; 
	height: 30px;
	vertical-align: middle;
	float: left;
	}



ul#css3menu1,ul#css3menu1 ul{
	margin: 0 0 0 0;list-style:none;
	background-color:;
	border-left: 2px solid #d3d3d3;
	padding: 0 0 0 5px;}
ul#css3menu1 ul{
	display:none;
	position:absolute;
	left:0;top:100%;
	padding: 0 0 0px 5px;
	margin: 0 0 0 -2px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:10px 10px 10px 0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin: 0 0 0 0;}
ul#css3menu1 ul>li{
	margin: 10px 0px 0px 0px;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	font:14px Tahoma,Geneva,sans-serif;
	color:#868686;
	cursor:auto;
	padding: 0px 0px 0px 5px;}
ul#css3menu1 ul li{
	float:none;margin:0;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 5px;}
ul#css3menu1 ul a{
	text-align:left;padding: 1px;background-color:;border-color:;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;font:11px Tahoma,Geneva,sans-serif;color:#868686;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	color:#002664;text-decoration:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-image:url("arrowmain0.gif");background-position:right center;background-repeat:no-repeat;padding-right:17px;}
ul#css3menu1 li:hover>a>span{}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	color:#002664;
	text-decoration:none; 	 	
}
ul#css3menu1>li>a{
	padding: 1px 5px;}
ul#css3menu1 li.toproot>a{
	border-style:none;border-color:;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;padding: 3px 5px;}
ul#css3menu1 li.toproot:hover>a,ul#css3menu1 li.toproot a.pressed{

}


.block_search{
	padding: 0px 0px 0px 0px;
	margin: 0 0 0 0;
	background-color: #fff;
	-webkit-box-shadow: 1px 0px 10px 2px rgba(186, 191, 195, 1);
	-moz-box-shadow:    1px 0px 10px 2px rgba(186, 191, 195, 1);
box-shadow:         1px 0px 10px 2px rgba(186, 191, 195, 1);
background-color: rgba(255, 255, 255, 0.5);
background: rgba(255, 255, 255, 0.5);
}
.block_topic{
	border: 1px solid #aaa;
	padding: 2px 2px 2px 2px;
	margin: 0 0 0 0;
	background-color: #41799f;
	color:#fff;
	font-weight: bold;
}
.block_Ref{
	border: 1px solid #ddd;
	padding: 5px 5px 5px 5px;
	margin: 0 0 0 0;
	background-color: #f7f7f7;
	color: #666;
	font: italic 11px tahoma;
}
.block_step4{
	border: 1px solid #aaa;
	padding: 10px 10px 0px 10px;
	margin: 0 0 0 0;
	background-color: #ff99ff;
}

.block_Mode{
	border: 1px solid #e4e4e4;
	padding: 2px 5px 2px 5px;
	margin: 0 0 0 0;
	background-color: #ffccff;
	color: #1878ca; 
	font-weight: bold;
}

.block_module{
	background-color: #f7f7f7;
	padding: 0px 0px 0px 0px;
	margin: 0 0 0 0;
}

.block_menu{
	border: 1px solid #aaa;
	padding: 5px 5px 5px 5px;
	margin: 0 0 0 0;

}
.topichead{
	font-size: 13px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
}

.lineTopVerticalMenu
{
	border-top: 1px solid #647fa0;
	height: 15px;
	
}


.lineTopDash
{
	border-top: 1px dotted #647fa0;
	height: 15px;
	
}

.linebottomVerticalMenu
{
	border-bottom: 3px solid #647fa0;
	height: 15px;
	
}

.TopicArticle
{
	border-top: 1px solid #647fa0;
	border-bottom: 1px solid #647fa0;
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	padding: 7px;
	
}
.BottomArticle
{
	border-top: 1px solid #647fa0;
	border-bottom: 3px solid #647fa0;
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	padding: 5px;
	
}

h1{
	font-size: 35px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #002664;
	margin: 0 0 0 0;
	padding: 0 0 20px 0;	
}
h2,h3{
	font-size: 14px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #002664;
	margin: 0 0 0 0;
	padding: 0 0 0 0;	
}
h4{
	 
	font-size: 16px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #002664;
	margin: 0 0 0 0;
	padding: 3px 0 3px 0;
 
}
h5{
	font-size: 14px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000;
	margin: 0 0 0 0;
	padding: 3px 0 3px 0;
}
h6{
	font-size: 14px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #002664;
	margin: 0 0 0 0;
	padding: 3px 0 3px 0;
}

.topicContent {
	font-size: 14px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #002664;
}
 
 .big_slide{
 
	border-bottom: 4px solid #1878ca;
	width: 100%;
	height: 300px;
	background-position: Top right;
	background-repeat: no-repeat;
	vertical-align: bottom;
	background: #ececec;
 }
  
.BannerBorderWhite {
		background-color: #fff;
		 border-radius: 10px;
	  border-radius: 10px;
    -moz-border-radius: 10px;
	 -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	-webkit-border-radius: 10px; 
	vertical-align: middle;
	padding: 10px 10px 10px 10px;
}
 
 .BannerMenu {
		background-color: #647fa0;
		 border-radius: 10px;
	  border-radius: 10px;
    -moz-border-radius: 10px;
	 -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	-webkit-border-radius: 10px; 
	height: 80px; 
	width: 300px;
	color: #fff;
	font-size: 20px; 
	vertical-align: middle;
	padding: 10px 10px 10px 10px;
}

.BannerMenu a, 
.BannerMenu a:link,
.BannerMenu a:visited  {
	font-size: 20px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #fff;
}

.BannerMenu a:active, 
.BannerMenu a:hover,
.BannerMenu a:visited:hover
{
   font-size: 20px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #1878ca;
}

 .BannerMenu_Content {
		color: #fff;
	font-size: 15px;  
	vertical-align: middle;
	padding: 10px 5px 5px 5px;
	height: 30px;
	vertical-align: middle;
}

.BannerMenu_Content a, 
.BannerMenu_Content a:link,
.BannerMenu_Content a:visited  {
	font-size: 15px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #fff;
}

.BannerMenu_Content a:active, 
.BannerMenu_Content a:hover,
.BannerMenu_Content a:visited:hover
{
   font-size: 15px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	color: #1878ca;
}



#footer {
	 position: static;  
    left:0px;  
    bottom:0px;  
    width:100%;  
    z-index: 99;  	 
	font-size: 14px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;	 
	color: #aaa;
	height: 20px; 
	padding: 10px 0 0 0;
	 
}
#footer topic {
	font-size: 14px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;	 
	color: #fff;
}

#footerLogin {
	 
    position: fixed;  
    left:0px;  
    bottom:0px;  
    width:100%;  
    z-index: 99;  	 
	font-size: 14px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;	 
	color: #666;	
	height: 20px; 
	padding: 3px 0 0 0;
	 
}


.txtlogin{
	 
		font-family: "Lucida Grande", Arial, Helvetica;
font-size: 14px;
font-style: normal;
font-weight: bold;
border:1px solid #8D9AA3;
background-color: #fff;
height: 25px;
color:#8d9aa3;
text-align: center;
padding:3px 0 0 0;
 border-radius: 5px;
	  border-radius: 5px;
    -moz-border-radius: 5px;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	
}

.txtlogin:focus,active,hover{
font-family: "Lucida Grande", Arial, Helvetica;
font-size: 14px;
font-style: normal;
font-weight: bold;
border:1px solid #8D9AA3;
background-color: #fafbd4;
height: 25px;
color:#8d9aa3;
text-align: center;
padding:3px 0 0 0;

 border-radius: 5px;
	  border-radius: 5px;
    -moz-border-radius: 5px;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	
}

.txtlogin:hover{
font-family: "Lucida Grande", Arial, Helvetica;
font-size: 14px;
font-style: normal;
font-weight: bold;
border:1px solid #8D9AA3;
background-color: #fafbd4;
height: 25px;
color:#8d9aa3;
text-align: center;
padding:3px 0 0 0;
 border-radius: 5px;
	  border-radius: 5px;
    -moz-border-radius: 5px;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	
}

/*
input[type=text]{
	border:1px solid #8D9AA3;
background-color: #fff;
height: 20px;
font-size: 13px;
	color:#555;
padding: 0px 2px 0px 5px;
	}
input[type=text]:focus,active{
border:1px solid #8D9AA3;
background-color: #ffdbff;
height: 20px;
font-size: 13px;
color:#555;
padding: 0px 2px 0px 5px;
} 
*/
.Objcontrol{
	border:1px solid #8D9AA3;
background-color: #fff;
height: 22px;
font-size: 13px;
	color:#555;
padding: 0px 0px 0px 2px;
margin: 0 0 0 0;
 border--radius: 5px;
	  border--radius: 5px;
    -moz-border-radius: 5px;
	 -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}


.buttonLogin:hover,active{
	font-size: 14px;
	font-weight: bold;
	height: 35px;
	padding: 5px 5px 5px 5px;	
	color:#666;
	cursor:pointer;
	  border: 1px solid #fcdf7a;
	  background-color: #fcdf7a;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

/*	background: -moz-linear-gradient(top, #fff 1%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -o-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -ms-linear-gradient(top, #fff 1%,#ddd 100%);
	background: linear-gradient(top, #fff 1%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
		*/	
}
.buttonLogin{
 font-size: 14px;
 	font-weight: bold;
	height: 35px;
	padding: 5px 5px 5px 5px;	
	color:#666;
	cursor:pointer;
	
		border:solid 1px #fcc814;
		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background-color: #fcc814;
/*
	background: -moz-linear-gradient(top, #fff 1%, #fcc814 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#fcc814));
	background: -webkit-linear-gradient(top, #fff 1%,#fcc814 100%);
	background: -o-linear-gradient(top, #fff 1%,#fcc814 100%);
	background: -ms-linear-gradient(top, #fff 1%,#fcc814 100%);
	background: linear-gradient(top, #fff 1%,#fcc814 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
		*/
} 



.buttonfind:hover,active{
	font-size: 14px;
	height: 25px;
	padding: 3px 5px 5px 5px;	
	color:#666;
	cursor:pointer;
	  border: 1px solid #fcdf7a;
	  background-color: #fcdf7a;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

/*	background: -moz-linear-gradient(top, #fff 1%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -o-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -ms-linear-gradient(top, #fff 1%,#ddd 100%);
	background: linear-gradient(top, #fff 1%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
		*/	
}
.buttonFind{
 font-size: 14px;
	height: 25px;
	padding: 3px 5px 5px 5px;	
	color:#666;
	cursor:pointer;
	
		border:solid 1px #fcc814;
		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background-color: #fcc814;
/*
	background: -moz-linear-gradient(top, #fff 1%, #fcc814 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#fcc814));
	background: -webkit-linear-gradient(top, #fff 1%,#fcc814 100%);
	background: -o-linear-gradient(top, #fff 1%,#fcc814 100%);
	background: -ms-linear-gradient(top, #fff 1%,#fcc814 100%);
	background: linear-gradient(top, #fff 1%,#fcc814 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
		*/
} 



	
.widthfull {
	WIDTH: 100% !important;
	 TEXT-ALIGN: left; 
	 BACKGROUND-COLOR: #fff; 
	 MARGIN: 0px auto; ; 
	OVERFLOW: hidden;
}

.Header_Name{
font-size: 16px;
font-style: normal;
font-weight: bold;
  color: #1878ca;  
	padding: 0px 0px 0px 0px;

}

.Page_Header{
font-size: 20px;
	font-style: normal;
	text-align: left;
	font-weight: bold;
  	color: #999;  
 	padding: 10px 20px 10px 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	border-bottom: 1px solid #e4e4e4;
	background: #f7f7f7;
}


.Section_Header{
font-size: 14px;
	font-style: normal;
	text-align: left;
	font-weight: bold;
  	color: #6c6c6c;  
 	padding: 5px 5px 5px 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	border-top: 1px solid #e4e4e4;
	background: #f2f2f2;
}

.user_mmnu {
	color:#545454; 
 	font: 13px "Lucida Grande", Arial, Helvetica;	
}

a.user_mmnu:link { color:#545454;}
a.user_mmnu:active {color:#545454;  }
a.user_mmnu:hover {color:#1878ca;  }
a.user_mmnu:visited {color:#545454;}
a.user_mmnu:hover:visited {color:#1878ca; }


.textblack {
	  COLOR: #000000;
}


.headername{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	padding: 5px 20px;
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	font-size: 30px;
}

.brd_menu{
	BACKGROUND-COLOR: #ffffff;
	border-top: 1px solid #5d5d5d;
	border-bottom: 1px solid #5d5d5d;
}


.collapse_side
{height: 100%; 
} 
.bg_left {
	BACKGROUND-COLOR: #eaebdb; WIDTH: 5px;
		BACKGROUND-POSITION: 5px 0px;
		BACKGROUND: url(../images/shadow.gif) repeat-y;

}
.bg_right {
	BACKGROUND-COLOR: #eaebdb; WIDTH: 5px;
	BACKGROUND-POSITION: -5px 0px;
	BACKGROUND: url(../images/shadow.gif) repeat-y;
}


.right{
	float: right;
}

.Topic_header{
	color: #1878ca;
	font-size: 14px;
text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	}
.txtcontent{
	
font-size: 14px;
font-style: normal;
text-align: left;
  color: #666;
}

.label_topic{
	font-family: "Lucida Grande", Arial, Helvetica;
font-size: 14px;
font-style: normal;
font-weight: bold;
color: #666666;
}
.promotion{
	font-family: "Lucida Grande", Arial, Helvetica;
font-size: 10px;
font-style: normal;
font-weight: normal;
text-align: left;
  color: #1e90ff;
}

.availablenow {
	font-family: "Lucida Grande", Arial, Helvetica;
font-size: 14px;
font-style: italic;
font-weight: bold;
text-align: left;
  color: #1e90ff;
}
.RateDisplay  {
	font-family: "Lucida Grande", Arial, Helvetica;
font-size: 16px;
font-weight: bold;
text-align: left;
  color: #8a2be2;
}
.RateExchange  {
	font-family: "Lucida Grande", Arial, Helvetica;
font-size: 14px;
font-weight: normal;
text-align: left;
  color: #708090;
}

/* Start images */
a img
{
	border: 0;
}
/*
a
{
font-family: Geneva, Arial, Helvetica,Tahama, sans-serif;
text-decoration: none;
  color: #666;
}

a:link
{
font-family: Geneva, Arial, Helvetica,Tahama, sans-serif;
text-decoration: none;
  color: #666;
}

a:visited, a.visited
{
font-family: Geneva, Arial, Helvetica,Tahama, sans-serif;
text-decoration: none;
  color: #666;
}

a:hover, a.hover
{
font-family: Geneva, Arial, Helvetica,Tahama, sans-serif;
text-decoration: none;
  color: #1878ca;
}
*/
ol, ul
{
	color: #172009;
	margin:1em 0 1em 2em;
	padding:0;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 14px;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}


.admin_info
{
font-family: "Lucida Grande", Arial, Helvetica;
font-size: 14px;
font-style: normal;
font-weight: normal;
border: 1px solid #e6e6fa;
background-color: #f6ffac;

} 


.input_control
{
font-family: "Lucida Grande", Arial, Helvetica;
font-size: 14px;
font-style: normal;
font-weight: normal;
border:1px solid #8D9AA3;
background-color: #fde0ef;

} 

/* end Button */

.rss-tag-icon
{
	position: relative;
	display:block;
	float:left;
	background-image: url('../images/rssIcon.png');
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	height: 25px;
	width: 25px;
    cursor: default;
}

.clear_float{clear:both; line-height:0; font-size:0; height:0;}

.MenuSt{
	BACKGROUND-COLOR: #f5f5f7;
		border-bottom-style:dotted;
	border-bottom-color: #1878ca;
	border-bottom-width:1px;
		color:#1878ca;
	FONT-SIZE: 14px; FONT-WEIGHT: bold;
	line-height: 25px;
	padding: 0px 0px 0px 5px;

}
.txtunderline{
	border-bottom-style:dotted;
	border-bottom-color: #696969;
	border-bottom-width:1px;	
	color: #696969;
	FONT-SIZE: 13px; 
}
.HeadtopReg{
	BACKGROUND-COLOR: #1878ca;
		border-bottom-style:dotted;
	border-bottom-color: #1878ca;
	border-bottom-width:1px;
	
	color:#FFFFFF;
	font-size: 14px; FONT-WEIGHT: bold
}
.skin_Search{
	BACKGROUND-COLOR: #f5f5f5;
	border-top :dotted  #1878ca 1px;
	color:#1878ca;
	 	padding: 5px 5px 5px 10px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	border-bottom: 1px solid #e4e4e4;
}
.Search{
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	padding: 5px 20px;

}

.skinUser{
	BACKGROUND-COLOR: #f5f5f7;
		border-bottom-style:dotted;
	border-bottom-color: #65b1b1;
	border-bottom-width:1px;
	
	
}
.TextDataUnderline
{
	font-size:13px;
	font-weight:normal;
	color:Black;
	border-bottom-style: dotted;
	border-bottom-width: 1px ;
	border-bottom-color:Black;
	height: 20px;

}



.text_Caution {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #cc0000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}

td.Tb_border {
			border-top: 1px solid #65b1b1;
				border-left: 1px solid #65b1b1;
					border-right: 1px solid #65b1b1;
						border-bottom: 1px solid #65b1b1;
		}


.menu_link{
	display: block;
	height: 52px;	
	font-family: Geneva, Arial, Helvetica,Tahama, sans-serif;
	color: #8cc418;
	width: 995px;
	background: url(images/BT_menuBG.gif);
 	margin: 12px 30px 0px 30px;
	padding: 0px 0px 0px 0px;
	font-size: 14px;
}

.menu_style{
	display: block;
	height: 52px;	
	font-family: Geneva, Arial, Helvetica,Tahama, sans-serif;
	color: #8cc418;
	width: 995px;
	background: url(images/BT_menuBG.gif);
 	margin: 12px 30px 0px 30px;
	padding: 0px 0px 0px 0px;
	font-size: 14px;
	

}

.Normal, .normal, #LoginInfo, #QuickLinks, #LoginInfo p.LoginNotes, .nci-PostContent .SubHead, .nci-PostContent .Normal, .SubHead, .WizardText, .SkinObject
{
font-family: Geneva, Arial, Helvetica,Tahama, sans-serif;
font-size: 13px;
color: #696969;
}


.NormalBold
{
font-family: Geneva, Arial, Helvetica,Tahama, sans-serif;
font-size: 13px;
color: #696969;
font-weight: bold;
}

.txtrecommend{
	font-family: Geneva, Arial, Helvetica,Tahama, sans-serif;
	font-size: 14px;
}

.text8 {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; FONT-SIZE: 8pt
}
.text9 {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; FONT-SIZE: 9pt
}
.text10 {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; FONT-SIZE: 12px
}
.text11 {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; FONT-SIZE: 13px
}
.text12 {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; FONT-SIZE: 14px
}
.text13 {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; FONT-SIZE: 15px
}
.text8b {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.text9b {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.text10b {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; font-size: 14px; FONT-WEIGHT: bold
}
.text11b {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.text12b {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.text13b {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.text8_white {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; FONT-SIZE: 8pt
}
.text9_white {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; FONT-SIZE: 9pt
}
.text10_white {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; FONT-SIZE: 12px
}
.text11_white {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; FONT-SIZE: 13px
}
.text12_white {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; FONT-SIZE: 14px
}
.text13_white {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; FONT-SIZE: 15px
}
.text8b_white {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.text9b_white {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.text10b_white {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; font-size: 14px; FONT-WEIGHT: bold
}
.text11b_white {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.text12b_white {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.text13b_white {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.text8_orange {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; FONT-SIZE: 8pt
}
.text9_orange {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; FONT-SIZE: 9pt
}
.text10_orange {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; FONT-SIZE: 12px
}
.text11_orange {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; FONT-SIZE: 13px
}
.text12_orange {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; FONT-SIZE: 14px
}
.text13_orange {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; FONT-SIZE: 15px
}
.text8b_orange {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.text9b_orange {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.text10b_orange {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; font-size: 14px; FONT-WEIGHT: bold
}
.text11b_orange {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.text12b_orange {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.text13b_orange {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.text8_gray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #808080; FONT-SIZE: 8pt
}
.text9_gray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #808080; FONT-SIZE: 9pt
}
.text10_gray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #808080; FONT-SIZE: 12px
}
.text11_gray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #808080; FONT-SIZE: 13px
}
.text12_gray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #808080; FONT-SIZE: 14px
}
.text13_gray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #808080; FONT-SIZE: 15px
}
.text8b_gray {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #808080; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.text9b_gray {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #808080; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.text10b_gray {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #808080; font-size: 14px; FONT-WEIGHT: bold
}
.text11b_gray {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #808080; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.text12b_gray {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #808080; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.text13b_gray {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #808080; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.text8_ngray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #666666; FONT-SIZE: 8px
}
.text9_ngray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #666666; FONT-SIZE: 9px
}
.text10_ngray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #666666; FONT-SIZE: 10px
}
.text11_ngray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #666666; FONT-SIZE: 11px
}
.text12_ngray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #666666; FONT-SIZE: 12px
}
.text13_ngray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #666666; FONT-SIZE: 13px
}
.text8b_ngray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #666666; FONT-SIZE: 8px; FONT-WEIGHT: bold
}
.text9b_ngray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #666666; FONT-SIZE: 9px; FONT-WEIGHT: bold
}
.text10b_ngray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #666666; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.text11b_ngray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #666666; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.text12b_ngray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #666666; font-size: 14px; FONT-WEIGHT: bold
}
.text13b_ngray {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #666666; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.text8_green {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #8cc418; FONT-SIZE: 8pt
}
.text9_green {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #8cc418; FONT-SIZE: 9pt
}
.text10_green {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #8cc418; FONT-SIZE: 12px
}
.text11_green {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #8cc418; FONT-SIZE: 13px
}
.text12_green {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #8cc418; FONT-SIZE: 14px
}
.text13_green {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #8cc418; FONT-SIZE: 15px
}
.text8b_green {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #8cc418; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.text9b_green {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #8cc418; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.text10b_green {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #8cc418; font-size: 14px; FONT-WEIGHT: bold
}
.text11b_green {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #8cc418; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.text12b_green {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #8cc418; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.text13b_green {
	FONT-FAMILY: Microsoft Sans Serif; COLOR: #8cc418; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.text8_tahoma {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; FONT-SIZE: 8pt
}
.text8b_tahoma {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.text_forbottom {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.text_black {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; FONT-SIZE: 13px
}
.text_black_Bold {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.text_red {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #cc0000; FONT-SIZE: 11px;

}
.text14_red {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #cc0000; FONT-SIZE: 14px;

}
.text_red_Bold {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #cc0000; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.text_blue {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 12px
}
.text_blue_Bold {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; font-size: 14px; FONT-WEIGHT: bold
}
.text_brown {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #9a6601; FONT-SIZE: 12px
}
.text_brown_Bold {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #9a6601; font-size: 14px; FONT-WEIGHT: bold
}
.text_yellow {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffcc00; FONT-SIZE: 11px
}
.text_yellow_Bold {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffcc00; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.text_violet {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #990099; FONT-SIZE: 11px
}
.text_violet_Bold {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #990099; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.text_orange {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; FONT-SIZE: 11px
}
.text_orange_Bold {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.text_green {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #8cc418; FONT-SIZE: 12px
}
.text_green_Bold {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #8cc418; font-size: 14px; FONT-WEIGHT: bold
}
.text_White {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; FONT-SIZE: 11px
}
.text8new_White {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
.text_White_Bold {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
A.link_white:link {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; font-size: 14px; TEXT-DECORATION: none
}
A.link_white:visited {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffffff; font-size: 14px; TEXT-DECORATION: none
}
A.link_white:active {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #999999; font-size: 14px; TEXT-DECORATION: none
}
A.link_white:hover {
	FONT-FAMILY: Tahoma, "MS Sans Serif, Arial"; COLOR: #999999; font-size: 14px; TEXT-DECORATION: none
}
A.link_black:link {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_black:visited {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_black:active {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_black:hover {
	FONT-FAMILY: Tahoma, "MS Sans Serif, Arial"; COLOR: #666; font-size: 14px; TEXT-DECORATION: none
}
A.link_red:link {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_red:visited {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_red:active {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_red:hover {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ff0000; font-size: 14px; TEXT-DECORATION: none
}
A.link_blue:link {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_blue:visited {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_blue:active {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_blue:hover {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; font-size: 14px; TEXT-DECORATION: none
}
A.link_blue01:link {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_blue01:visited {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_blue01:active {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_blue01:hover {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; font-size: 14px; TEXT-DECORATION: none
}
A.link_brown:link {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_brown:visited {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_brown:active {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_brown:hover {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #9a6601; font-size: 14px; TEXT-DECORATION: none
}
A.link_yellow:link {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_yellow:visited {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_yellow:active {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_yellow:hover {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #ffcc00; font-size: 14px; TEXT-DECORATION: none
}
A.link_violet:link {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_violet:visited {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_violet:active {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_violet:hover {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #990099; font-size: 14px; TEXT-DECORATION: none
}
A.link_orange:link {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_orange:visited {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_orange:active {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_orange:hover {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; font-size: 14px; TEXT-DECORATION: none
}
A.link_orange2:link {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; font-size: 14px; TEXT-DECORATION: none
}
A.link_orange2:visited {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; font-size: 14px; TEXT-DECORATION: none
}
A.link_orange2:active {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; font-size: 14px; TEXT-DECORATION: none
}
A.link_orange2:hover {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #0096db; font-size: 14px; TEXT-DECORATION: none
}
A.link_green:link {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
A.link_green:visited {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
A.link_green:active {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
A.link_green:hover {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #8cc418; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
A.link_green_1:link {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_green_1:visited {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_green_:active {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; TEXT-DECORATION: none
}
A.link_green_1:hover {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #8cc418; font-size: 14px; TEXT-DECORATION: none
}
.textvision {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; font-size: 14px; FONT-WEIGHT: normal
}
.textvisionheader {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #cc9900; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.textblack2 {
	FONT-FAMILY: Tahoma; COLOR: #000000; FONT-SIZE: 11px
}
A.link_blue_new:link {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 13px; TEXT-DECORATION: none
}
A.link_blue_new:visited {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 13px; TEXT-DECORATION: none
}
A.link_blue_new:active {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 13px; TEXT-DECORATION: none
}
A.link_blue_new:hover {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.forsearch {
	FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #666666; FONT-SIZE: 11px; FONT-WEIGHT: normal
}

.text8_pink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 8pt
}
.text9_pink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 9pt
}
.text10_pink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 12px
}
.text11_pink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 13px
}
.text12_pink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 14px
}
.text13_pink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 15px
}
.text8b_pink {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.text9b_pink {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.text10b_pink {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; font-size: 14px; FONT-WEIGHT: bold
}

.popupLink {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; 
	cursor: pointer;
	font-size: 14px; FONT-WEIGHT: bold
}
.text11b_pink {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.text12b_pink {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.text13b_pink {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.text8_npink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 8px
}
.text9_npink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 9px
}
.text10_npink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 10px
}
.text11_npink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 11px
}
.text12_npink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 12px
}
.text13_npink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 13px
}
.text8b_npink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 8px; FONT-WEIGHT: bold
}
.text9b_npink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 9px; FONT-WEIGHT: bold
}
.text10b_npink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.text11b_npink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.text12b_npink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; font-size: 14px; FONT-WEIGHT: bold
}
.text13b_npink {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 13px; FONT-WEIGHT: bold
}


.text8_blue{
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 8pt
}
.text9_blue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 9pt
}
.text10_blue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 12px
}
.text11_blue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 13px
}
.text12_blue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 14px
}
.text13_blue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 15px
}
.text8b_blue {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.text9b_blue {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.text10b_blue {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; font-size: 14px; FONT-WEIGHT: bold
}
.text11b_blue {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.text12b_blue {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.text13b_blue {
	FONT-FAMILY: Geneva, Arial, Helvetica,Tahama, sans-serif; COLOR: #1878ca; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.text8_nblue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 8px
}
.text9_nblue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 9px
}
.text10_nblue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 10px
}
.text11_nblue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 11px
}
.text12_nblue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 12px
}
.text13_nblue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 13px
}
.text8b_nblue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 8px; FONT-WEIGHT: bold
}
.text9b_nblue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 9px; FONT-WEIGHT: bold
}
.text10b_nblue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.text11b_nblue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.text12b_nblue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; font-size: 14px; FONT-WEIGHT: bold
}
.text13b_nblue {
	FONT-FAMILY: Tahoma, "MS Sans Serif", Arial, Tahoma; COLOR: #1878ca; FONT-SIZE: 13px; FONT-WEIGHT: bold
}


.buttonRedial{
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	padding: 5px 5px 5px 5px;	
	color:#fff;
	  border:solid 1px #1878ca;
	  background-color: #1878ca;
	  cursor: pointer;

	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	/*
	background: -moz-linear-gradient(top, #fff 1%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top, #fff 1%,#f2f2f2 100%);
	background: -o-linear-gradient(top, #fff 1%,#f2f2f2 100%);
	background: -ms-linear-gradient(top, #fff 1%,#f2f2f2 100%);
	background: linear-gradient(top, #fff 1%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
		*/	
}
.buttonRedial:hover,active{
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	padding: 5px 5px 5px 5px;	
	color:#fff;
	  border:solid 1px #418bca;
	  background-color: #418bca;
	  cursor: pointer;
			-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
} 
.inputnoneborder{
	border: 0px;
}
.blockinput{
	  border:solid 1px #8D9AA3;
	  background-color: #fff;
	  padding-left:5px;
}
.th{
text-indent:5px;
height:22px;
border-bottom: 1px solid #d0d0d0;
border-right: 1px solid #eeeeee;
border-left: 1px solid #eeeeee;
border-top: 1px solid #99bbe8;
color: #0050a2;
background-color: #f7f7f7;
/*
 background: -moz-linear-gradient(top, #fff 1%, #ddd 100%);
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#ddd));
 	 background: -webkit-linear-gradient(top, #fff 1%,#ddd 100%);
	 background: -o-linear-gradient(top, #fff 1%,#ddd 100%);
	 background: -ms-linear-gradient(top, #fff 1%,#ddd 100%);
	 background: linear-gradient(top, #fff 1%,#ddd 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	*/		
} 
.Lab_Heading{	
	padding: 8px 20px 8px 20px;
	display: block;
	cursor: pointer;
	text-shadow: 1px 1pline-height: 30px;
	border-bottom: 1px solid #cacaca;
	 background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
		
		font-size: 14px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #002664;
}
.Heading_Orang{	
	padding: 8px 20px 8px 20px;
	background-color: #0096db;
	font-size: 14px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
}
.Heading_Green{	
	padding: 8px 20px 8px 20px;
	background-color: #d9edf6;
	font-size: 14px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #666;
}
.Heading_Blue{	
	padding: 4px 15px 4px 15px;
	text-shadow: 1px 1pline-height: 30px;
	border-bottom: 1px solid #cacaca;
	font-size: 14px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background: #1878ca;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.Toppane{	
	padding: 8px 20px 8px 20px;
	background-color: #fff;
	font-size: 14px; 
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #666;
}

.calendar_orange{
border-bottom: 1px solid #0096db;
border-right: 1px solid #0096db;
border-left: 1px solid #0096db;
border-top: 1px solid #0096db;
color:#0096db;
background: #fff;
} 
