@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,200;0,300;0,400;0,600;0,800;1,400;1,600&display=swap');
Body {
    background: #fff;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #555;
    font-size: 14px;
    line-height: 25px;
}

a {
    text-decoration: none;
}

#menu_bar {
    /*background: url(../images/menu-bar.jpg) repeat-x top left; 
	background : #74aa21;
	border-bottom: 3px solid #629826;*/
    height: 36px;
    width: 100%;
}

.Newsdate {
    color: #aaa;
    font-style: italic;
    font-size: 11px;
}

.patientinfo {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 14px;
    padding: 0px 5px 0px 5px;
}

input[type=text].LabResult {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    margin: 1px;
    padding: 0px 2px 2px 2px;
    font-style: normal;
    font-weight: normal;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 22px;
    color: #555;
    cursor: text;
    border--radius: 4px;
    border--radius: 4px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
}

input[type=text].LabResult:focus,
active {
    background-color: #d0e8ff;
}

.LabResult {
    text-align: center;
}

.NameTH {
    color: #333;
    font-size: 13px;
}

.NameEN {
    color: #aaa;
    font-style: italic;
    font-size: 11px;
}

#header {
    background: url(../images/header_03.png) repeat-x bottom left;
    width: 100%;
}

.sectionpatientinfo {}

#linebottomheader {
    height: 1px;
    line-height: 1px;
    border-bottom: 1px solid #e4e4e4;
}

#menu {
    margin: 0;
    padding: 0;
}

.table50 {
    width: 50%;
}

.shell {
    width: 100%;
    margin: 0 auto;
}

#page_content {
    float: left;
}

#content {
    padding-top: 0px;
    height: 100%;
    background-color: #fff;
    width: 1060px;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

.validateAlert {
    background-color: #ffcece;
    color: #db4040;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-weight: normal;
    font-size: 11px;
    border: 1px solid #df8f8f;
    border-radius: 6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -webkit-border-radius: 6px;
    vertical-align: middle;
    padding: 5px 5px 5px 5px;
    text-align: left;
}

.gridbutton {
    cursor: pointer;
}

.gridheader {
    background: #ececec;
    color: #008749;
    font-weight: bold;
}

.GreenAlert {
    background-color: #ddffe9;
    color: #008749;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #9adf8f;
    border-radius: 6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -webkit-border-radius: 6px;
    vertical-align: middle;
    padding: 5px 5px 5px 5px;
}

.ReportMenu {
    color: #14539a;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-weight: normal;
    font-size: 14px;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

.OptionPanels {
    color: #14539a;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-weight: normal;
    vertical-align: middle;
    margin: 0 0 0 0;
    padding: 15px 30px 15px 15px;
}

.Section_Date {
    color: #14539a;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-weight: normal;
    vertical-align: middle;
    margin: 0 0 0 0;
    padding: 15px 30px 15px 15px;
}

.NumberCenter {
    text-align: center;
}

.NumberRight {
    text-align: right;
}

.texttopic {
    font-size: 14px;
    line-height: 25px;
    color: #555;
    font-weight: bold;
}

.userlogged {
    font-size: 11px;
    color: #14539a;
}

.sub-menu {
    background-color: #f2f2f2;
    height: 40px;
}

img,
img a {
    border: 0;
}

img a:hover {
    opacity: 1.0;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */
}

#clearboth {
    clear: both;
    height: 10px;
}

.clearboth {
    clear: both;
    height: 10px;
}

#lineTop {
    background-color: #14539a;
    height: 2px;
    line-height: 2px;
}

#menutop-projectname {
    background-color: #14539a;
    /*fcce2f*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    height: 25px;
    color: #fff;
    font-size: 11px;
    float: right;
    vertical-align: middle;
    padding: 5px 5px 5px 5px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-weight: normal;
    font-size: 13px;
}

#menutop-lang {
    background-color: #14539a;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-weight: normal;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    height: 25px;
    color: #fff;
    float: right;
    vertical-align: middle;
    padding: 5px 5px 5px 5px;
}

#menutop-lang a,
#menutop-lang a:link,
#menutop-lang a:visited {
    font-size: 13px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #fff;
}

#menutop-lang a:active,
#menutop-lang a:hover,
#menutop-lang a:visited:hover {
    font-size: 13px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #fff;
}


/*
 
 a, 
 a:link,
 a:visited  {
	
	font-family: 'Sarabun',Geneva, Arial, Helvetica,Tahama, sans-serif;	
	color: #246eac;
}

 a:active, 
a:hover,
a:visited:hover
{
 
	font-family: 'Sarabun',Geneva, Arial, Helvetica,Tahama, sans-serif;	
	
}
*/

.mainmnu {
    font-size: 13px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #f47920;
}

.mainmnu a,
.mainmnu a:link,
.mainmnu a:visited {
    font-size: 13px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #f47920;
}

.mainmnu a:active,
.mainmnu a:hover,
.mainmnu a:visited:hover {
    font-size: 13px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #004080;
}

.slidemnu {
    font-size: 14px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #f47920;
}

.slidemnu a,
.slidemnu a:link,
.slidemnu a:visited {
    font-size: 14px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #f47920;
}

.slidemnu a:active,
.slidemnu a:hover,
.slidemnu a:visited:hover {
    font-size: 14px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #004080;
}

.submnu_service {
    font-size: 13px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #272727;
    background: #ddd;
    line-height: 15px;
    padding: 5px 0 5px 0;
}

.submnu_service a,
.submnu_service a:link,
.submnu_service a:visited {
    font-size: 13px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #272727;
}

.submnu_service a:active,
.submnu_service a:hover,
.submnu_service a:visited:hover {
    font-size: 13px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #f47920;
}

.submnu {
    font-size: 11px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #272727;
    line-height: 15px;
    padding: 5px 0 5px 0;
}

.submnu a,
.submnu a:link,
.submnu a:visited {
    font-size: 11px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #272727;
}

.submnu a:active,
.submnu a:hover,
.submnu a:visited:hover {
    font-size: 11px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #f47920;
}

.clearline {
    height: 10px;
}

.servicemnu {
    font-size: 15px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #004080;
    height: 30px;
}

.servicemnu a,
.servicemnu a:link,
.servicemnu a:visited {
    font-size: 15px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #004080;
}

.servicemnu a:active,
.servicemnu a:hover,
.servicemnu a:visited:hover {
    font-size: 15px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #f47920;
}

#linemenutop {
    background-color: #14539a;
    height: 3px;
    line-height: 3px;
}

.lang {
    font-size: 12px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #868686;
}

.lang a,
.lang a:link,
.lang a:visited {
    font-size: 12px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #868686;
}

.lang a:active,
.lang a:hover,
.lang a:visited:hover {
    font-size: 12px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #004080;
}

.block_step1 {
    border: 1px solid #aaa;
    padding: 5px 5px 0px 5px;
    margin: 0 0 0 0;
}

.block_step2 {
    border: 1px solid #aaa;
    padding: 5px 5px 0px 5px;
    margin: 0 0 0 0;
}

.block_step3 {
    border: 1px solid #aaa;
    padding: 5px 5px 0px 5px;
    margin: 0 0 0 0;
}

.block_step4 {
    border: 1px solid #aaa;
    padding: 5px 5px 0px 5px;
    margin: 0 0 0 0;
    background-color: #ff99ff;
}

.block_module {
    border: 1px solid #aaa;
    padding: 0px 0px 0px 0px;
    margin: 0 0 0 0;
}

.block_menu {
    border: 1px solid #aaa;
    padding: 5px 5px 5px 5px;
    margin: 0 0 0 0;
}

.topichead {
    font-size: 13px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-weight: bold;
    color: #000;
}

.lineTopVerticalMenu {
    border-top: 1px solid #647fa0;
    height: 15px;
}

.lineTopDash {
    border-top: 1px dotted #647fa0;
    height: 15px;
}

.linebottomVerticalMenu {
    border-bottom: 3px solid #647fa0;
    height: 15px;
}

.TopicArticle {
    border-top: 1px solid #647fa0;
    border-bottom: 1px solid #647fa0;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px;
}

.BottomArticle {
    border-top: 1px solid #647fa0;
    border-bottom: 3px solid #647fa0;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px;
}

h1 {
    font-size: 35px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-weight: bold;
    color: #004080;
    margin: 0 0 0 0;
    padding: 0 0 20px 0;
}

h2,
h3 {
    font-size: 18px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-weight: 600;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

h4 {
    font-size: 16px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-weight: normal;
    color: #004080;
    margin: 0 0 0 0;
    padding: 3px 0 3px 0;
}

h5 {
    font-size: 14px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-weight: normal;
    color: #000;
    margin: 0 0 0 0;
    padding: 3px 0 3px 0;
}

h6 {
    font-size: 14px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-weight: normal;
    color: #004080;
    margin: 0 0 0 0;
    padding: 3px 0 3px 0;
}

.topicContent {
    font-size: 12px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-weight: normal;
    color: #004080;
}

.big_slide {
    border-bottom: 4px solid #14539a;
    width: 100%;
    height: 300px;
    background-position: Top right;
    background-repeat: no-repeat;
    vertical-align: bottom;
    background: #ececec;
}

.BannerBorderWhite {
    background-color: #fff;
    border-radius: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-border-radius: 10px;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
}

.BannerMenu {
    background-color: #647fa0;
    border-radius: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 80px;
    width: 300px;
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
}

.BannerMenu a,
.BannerMenu a:link,
.BannerMenu a:visited {
    font-size: 20px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #fff;
}

.BannerMenu a:active,
.BannerMenu a:hover,
.BannerMenu a:visited:hover {
    font-size: 20px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #f47920;
}

.BannerMenu_Content {
    color: #fff;
    font-size: 15px;
    vertical-align: middle;
    padding: 10px 5px 5px 5px;
    height: 30px;
    vertical-align: middle;
}

.BannerMenu_Content a,
.BannerMenu_Content a:link,
.BannerMenu_Content a:visited {
    font-size: 15px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #fff;
}

.BannerMenu_Content a:active,
.BannerMenu_Content a:hover,
.BannerMenu_Content a:visited:hover {
    font-size: 15px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #f47920;
}

#footer {
    position: static;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 99;
    font-size: 12px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #aaa;
    height: 20px;
    padding: 10px 0 0 0;
}

.txtlogin[type=login],
.txtlogin[type=Password] {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    border: 1px solid #8D9AA3;
    background-color: #fff;
    height: 35px;
    color: #8d9aa3;
    text-align: center;
    padding: 3px 0 0 0;
    border--radius: 4px;
    border--radius: 4px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.txtlogin {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    border: 1px solid #8D9AA3;
    background-color: #fff;
    height: 35px;
    color: #8d9aa3;
    text-align: center;
    padding: 3px 0 0 0;
    border--radius: 4px;
    border--radius: 4px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.txtlogin:focus,
active,
hover {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    border: 1px solid #8D9AA3;
    background-color: #fafbd4;
    height: 35px;
    color: #8d9aa3;
    text-align: center;
    padding: 3px 0 0 0;
}

.txtlogin:hover {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    border: 1px solid #8D9AA3;
    background-color: #fafbd4;
    height: 35px;
    color: #8d9aa3;
    text-align: center;
    padding: 3px 0 0 0;
}


/* ----------------from STH ---------*/

.widthfull {
    WIDTH: 100% !important;
    TEXT-ALIGN: left;
    BACKGROUND-COLOR: #fff;
    MARGIN: 0px auto;
    ;
    OVERFLOW: hidden;
}

.Header_Name {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: #14539a;
    padding: 0px 0px 0px 0px;
}

.seqno {
    font-size: 16px;
    font-weight: bold;
    color: #14539a;
    padding: 5px 0px 0px 0px;
    text-align: center;
}

.Page_Header {
    font-size: 20px;
    font-style: normal;
    text-align: left;
    font-weight: bold;
    color: #6c6c6c;
    padding: 10px 20px 10px 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #e4e4e4;
    background: #fdfdfd;
}

.Section_Header {
    font-size: 14px;
    font-style: normal;
    text-align: left;
    font-weight: bold;
    color: #6c6c6c;
    padding: 5px 5px 5px 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    border-top: 1px solid #e4e4e4;
    background: #f2f2f2;
}

.user_mmnu {
    color: #545454;
    font: normal 12px 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
}

a.user_mmnu:link {
    color: #246eac;
}

a.user_mmnu:active {
    color: #246eac;
}

a.user_mmnu:hover {
    color: #0c3561;
}

a.user_mmnu:visited {
    color: #246eac;
}

a.user_mmnu:hover:visited {
    color: #0c3561;
}

a.grd_item:link {
    color: #246eac;
}

a.grd_item:active {
    color: #246eac;
}

a.grd_item:hover {
    color: #0c3561;
}

a.grd_item:visited {
    color: #246eac;
}

a.grd_item:hover:visited {
    color: #0c3561;
}

.textblack {
    COLOR: #000000;
}

.headername {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    font-size: 30px;
}

.brd_menu {
    BACKGROUND-COLOR: #ffffff;
    border-top: 1px solid #5d5d5d;
    border-bottom: 1px solid #5d5d5d;
}

.brd_rpt {
    border: 1px solid #5d5d5d;
}

.collapse_side {
    height: 100%;
}

.bg_left {
    BACKGROUND-COLOR: #eaebdb;
    WIDTH: 5px;
    BACKGROUND-POSITION: 5px 0px;
    BACKGROUND: url(../images/shadow.gif) repeat-y;
}

.bg_right {
    BACKGROUND-COLOR: #eaebdb;
    WIDTH: 5px;
    BACKGROUND-POSITION: -5px 0px;
    BACKGROUND: url(../images/shadow.gif) repeat-y;
}

.skinmenu {
    /*background: transparent url(../images/crm_06x.jpg);*/
    background: transparent url(../images/bgmenu.png);
    height: 35px;
    vertical-align: bottom;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}

.skinsubmenu {
    background: transparent url(../images/menu_bg.jpg);
    height: 25px;
    vertical-align: middle;
    color: #14539a;
    font-size: 12px;
    font-weight: bold;
}

.right {
    float: right;
}

.Topic_header {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Verdana, Geneva, Arial, Helvetica, Sans-Serif !important;
    color: #14539a;
    font-size: 14px;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.txtcontent {
    font-size: 14px;
    line-height: 30px;
    font-style: normal;
    text-align: left;
    color: #333333;
}

.label_topic {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    color: #555;
}

.promotion {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    color: #1e90ff;
}

.included {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    color: #ff8201;
}

.availablenow {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    color: #1e90ff;
}

.RateDisplay {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #8a2be2;
}

.RateExchange {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #708090;
}


/* 
a img
{
	border: 0;
}

a
{
font-family: 'Sarabun',Geneva, Arial, Helvetica,Tahama, sans-serif;
text-decoration: none;
  color: #3B3B3B;
}

a:link
{
font-family: 'Sarabun',Geneva, Arial, Helvetica,Tahama, sans-serif;
text-decoration: none;
 color: #3B3B3B;
}
 
a:visited, a.visited
{
font-family: 'Sarabun',Geneva, Arial, Helvetica,Tahama, sans-serif;
text-decoration: none;
  color: #3B3B3B;
}
a:hover, a.hover
{
font-family: 'Sarabun',Geneva, Arial, Helvetica,Tahama, sans-serif;
text-decoration: none;
  color: #14539a;
}
*/

.admin_info {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    border: 1px solid #e6e6fa;
    background-color: #d4ebf1;
}

.LocationName {
    color: #14539a;
    font-weight: bold;
}

input[type="button"],
input[type="submit"],
input[type="text"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type=text] {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    margin: 2px;
    padding: 4px 2px 2px 2px;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 30px;
    cursor: text;
    border--radius: 4px;
    -moz-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;
}

input[type=text]:focus,
active {
    background-color: #d4ebf1;
}

.OptionControl {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    margin: 2px;
    font-size: 14px;
    padding: 0px 2px 0px 2px;
    font-style: normal;
    font-weight: normal;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 30px;
    border--radius: 4px;
    border--radius: 4px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.OptionControlText {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #555;
}

.OptionControl2 {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    margin: 2px;
    font-size: 14px;
    padding: 0px 2px 0px 2px;
    font-style: normal;
    font-weight: normal;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 50%;
    color: #555;
    border--radius: 4px;
    border--radius: 4px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.textbox[type=login],
.textbox[type=Password] {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    margin: 2px 0px 2px 0px;
    font-size: 14px;
    padding: 2px 2px 2px 2px;
    font-style: normal;
    font-weight: normal;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 30px;
    color: #555;
    cursor: text;
    border--radius: 4px;
    border--radius: 4px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.textbox {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    margin: 2px;
    font-size: 14px;
    padding: 2px 2px 2px 2px;
    font-style: normal;
    font-weight: normal;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 30px;
    color: #555;
    cursor: text;
    border--radius: 4px;
    border--radius: 4px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.textbox:focus,
active,
hover {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    margin: 2px;
    font-size: 14px;
    padding: 2px 2px 2px 2px;
    font-style: normal;
    font-weight: normal;
    border: 1px solid #ccc;
    height: 30px;
    color: #555;
    cursor: text;
    border--radius: 4px;
    border--radius: 4px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fafbd4;
}

.input_control {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    border: 1px solid #8D9AA3;
    background-color: #fde0ef;
}


/* end Button */

.rss-tag-icon {
    position: relative;
    display: block;
    float: left;
    background-image: url('../images/rssIcon.png');
    background-position: center right;
    background-repeat: no-repeat;
    margin: 0 5px 0 0;
    height: 25px;
    width: 25px;
    cursor: default;
}

.th {
    text-indent: 5px;
    height: 25px;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
    /*color: #14539a;*/
    color: #555;
    font-size: 14px;
}

.clear_float {
    clear: both;
    line-height: 0;
    font-size: 0;
    height: 0;
}

.barSearch {
    BACKGROUND-COLOR: #f5f5f7;
    border-top-style: solid;
    border-top-color: #dcdcdc;
    border-top-width: 1px;
    /*color:#14539a;
	FONT-SIZE: 14px; FONT-WEIGHT: bold;*/
    line-height: 30px;
    padding: 2px 0px 2px 5px;
}

.tbhead {
    BACKGROUND-COLOR: #fdfdff;
    border-top-style: dotted;
    border-top-color: #14539a;
    border-top-width: 1px;
    color: #14539a;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    line-height: 25px;
    padding: 0px 0px 0px 5px;
    vertical-align: middle !important;
}

.MenuSt {
    BACKGROUND-COLOR: #f5f5f7;
    border-bottom-style: dotted;
    border-bottom-color: #14539a;
    border-bottom-width: 1px;
    color: #14539a;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    line-height: 25px;
    padding: 0px 0px 0px 5px;
    vertical-align: middle !important;
}

.NewsTopic {
    color: #14539a;
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold;
    line-height: 30px;
    padding: 0px 0px 0px 5px;
}

.txtunderline {
    border-bottom-style: dotted;
    border-bottom-color: #696969;
    border-bottom-width: 1px;
    color: #696969;
    FONT-SIZE: 13px;
}

.HeadtopReg {
    BACKGROUND-COLOR: #14539a;
    border-bottom-style: dotted;
    border-bottom-color: #14539a;
    border-bottom-width: 1px;
    color: #FFFFFF;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.skin_Search {
    BACKGROUND-COLOR: #f5f5f5;
    border-top: dotted #14539a 1px;
    color: #14539a;
    padding: 5px 5px 5px 10px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #e4e4e4;
}

.Search {
    FONT-SIZE: 12px;
    font-weight: bold;
    height: 25px;
    padding: 5px 20px;
}

.skinUser {
    BACKGROUND-COLOR: #f5f5f7;
    border-bottom-style: dotted;
    border-bottom-color: #65b1b1;
    border-bottom-width: 1px;
}

.TextDataUnderline {
    font-size: 13px;
    font-weight: normal;
    color: Black;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: Black;
    height: 20px;
}

.text_Caution {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #cc0000;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

td.Tb_border {
    border-top: 1px solid #65b1b1;
    border-left: 1px solid #65b1b1;
    border-right: 1px solid #65b1b1;
    border-bottom: 1px solid #65b1b1;
}

.menu_link {
    display: block;
    height: 52px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #008749;
    width: 995px;
    background: url(images/BT_menuBG.gif);
    margin: 12px 30px 0px 30px;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
}

.menu_style {
    display: block;
    height: 52px;
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    color: #008749;
    width: 995px;
    background: url(images/BT_menuBG.gif);
    margin: 12px 30px 0px 30px;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
}

.Normal,
.normal,
#LoginInfo,
#QuickLinks,
#LoginInfo p.LoginNotes,
.nci-PostContent .SubHead,
.nci-PostContent .Normal,
.SubHead,
.WizardText,
.SkinObject {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-size: 13px;
    color: #696969;
}

.NormalBold {
    font-family: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    font-size: 13px;
    color: #696969;
    font-weight: bold;
}

.text8 {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    FONT-SIZE: 8px
}

.text9 {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    FONT-SIZE: 9px
}

.text10 {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    FONT-SIZE: 12px
}

.text11 {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    FONT-SIZE: 13px
}

.text12 {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    FONT-SIZE: 14px
}

.text13 {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    FONT-SIZE: 15px
}

.text8b {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}

.text9b {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold
}

.text10b {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.text11b {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold
}

.text12b {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

.text13b {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    FONT-SIZE: 15px;
    FONT-WEIGHT: bold
}

.text8_white {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffffff;
    FONT-SIZE: 8pt
}

.text9_white {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffffff;
    FONT-SIZE: 9pt
}

.text10_white {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffffff;
    FONT-SIZE: 12px
}

.text11_white {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffffff;
    FONT-SIZE: 13px
}

.text12_white {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffffff;
    FONT-SIZE: 14px
}

.text13_white {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffffff;
    FONT-SIZE: 15px
}

.text8b_white {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}

.text9b_white {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffffff;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold
}

.text10b_white {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffffff;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.text11b_white {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffffff;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold
}

.text12b_white {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffffff;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

.text13b_white {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffffff;
    FONT-SIZE: 15px;
    FONT-WEIGHT: bold
}

.text8_orange {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ff8201;
    FONT-SIZE: 8pt
}

.text9_orange {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ff8201;
    FONT-SIZE: 9pt
}

.text10_orange {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ff8201;
    FONT-SIZE: 12px
}

.text11_orange {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ff8201;
    FONT-SIZE: 13px
}

.text12_orange {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ff8201;
    FONT-SIZE: 14px
}

.text13_orange {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ff8201;
    FONT-SIZE: 15px
}

.text8b_orange {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ff8201;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}

.text9b_orange {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ff8201;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold
}

.text10b_orange {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ff8201;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.text11b_orange {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ff8201;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold
}

.text12b_orange {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ff8201;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

.text13b_orange {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ff8201;
    FONT-SIZE: 15px;
    FONT-WEIGHT: bold
}

.text8_gray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 8pt
}

.text9_gray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 9pt
}

.text10_gray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 12px
}

.text11_gray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 13px
}

.text12_gray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 14px
}

.text13_gray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 15px
}

.text8b_gray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}

.text9b_gray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold
}

.text10b_gray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.text11b_gray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold
}

.text12b_gray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

.text13b_gray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #808080;
    FONT-SIZE: 15px;
    FONT-WEIGHT: bold
}

.text8_ngray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 8px
}

.text9_ngray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 9px
}

.text10_ngray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 10px
}

.text11_ngray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 11px
}

.text12_ngray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 12px
}

.text13_ngray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 13px
}

.text8b_ngray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 8px;
    FONT-WEIGHT: bold
}

.text9b_ngray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 9px;
    FONT-WEIGHT: bold
}

.text10b_ngray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold
}

.text11b_ngray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}

.text12b_ngray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.text13b_ngray {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold
}

.text8_green {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #008749;
    FONT-SIZE: 8pt
}

.text9_green {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #008749;
    FONT-SIZE: 9pt
}

.text10_green {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #008749;
    FONT-SIZE: 12px
}

.text11_green {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #008749;
    FONT-SIZE: 13px
}

.text12_green {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #008749;
    FONT-SIZE: 14px
}

.text13_green {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #008749;
    FONT-SIZE: 15px
}

.text8b_green {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #008749;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}

.text9b_green {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #008749;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold
}

.text10b_green {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #008749;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.text11b_green {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #008749;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold
}

.text12b_green {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #008749;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

.text13b_green {
    FONT-FAMILY: Microsoft Sans Serif;
    COLOR: #008749;
    FONT-SIZE: 15px;
    FONT-WEIGHT: bold
}

.text8_tahoma {
    FONT-STYLE: normal;
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 8pt
}

.text8b_tahoma {
    FONT-STYLE: normal;
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}

.text_forbottom {
    FONT-STYLE: normal;
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal
}

.text_black {
    FONT-STYLE: normal;
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 13px
}

.text_black_Bold {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold
}

.text_red {
    FONT-STYLE: normal;
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #cc0000;
    FONT-SIZE: 12px;
}

.text14_red {
    FONT-STYLE: normal;
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #cc0000;
    FONT-SIZE: 14px;
}

.text_red_Bold {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #cc0000;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}

.text_blue {
    FONT-STYLE: normal;
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 12px
}

.text_blue_Bold {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.text_brown {
    FONT-STYLE: normal;
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #9a6601;
    FONT-SIZE: 12px
}

.text_brown_Bold {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #9a6601;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.text_yellow {
    FONT-STYLE: normal;
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffcc00;
    FONT-SIZE: 11px
}

.text_yellow_Bold {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffcc00;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}

.text_violet {
    FONT-STYLE: normal;
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #990099;
    FONT-SIZE: 11px
}

.text_violet_Bold {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #990099;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}

.text_orange {
    FONT-STYLE: normal;
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ff8201;
    FONT-SIZE: 11px
}

.text_orange_Bold {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ff8201;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}

.text_green {
    FONT-STYLE: normal;
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #008749;
    FONT-SIZE: 12px
}

.text_green_Bold {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #008749;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.text_White {
    FONT-STYLE: normal;
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffffff;
    FONT-SIZE: 11px
}

.text8new_White {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}

.text_White_Bold {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #ffffff;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}

.forsearch {
    FONT-STYLE: normal;
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #555;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal
}

.text8_pink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 8pt
}

.text9_pink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 9pt
}

.text10_pink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 12px
}

.text11_pink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 13px
}

.text12_pink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 14px
}

.text13_pink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 15px
}

.text8b_pink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}

.text9b_pink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold
}

.text10b_pink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.text11b_pink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold
}

.text12b_pink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

.text13b_pink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 15px;
    FONT-WEIGHT: bold
}

.text8_npink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 8px
}

.text9_npink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 9px
}

.text10_npink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 10px
}

.text11_npink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 11px
}

.text12_npink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 12px
}

.text13_npink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 13px
}

.text8b_npink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 8px;
    FONT-WEIGHT: bold
}

.text9b_npink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 9px;
    FONT-WEIGHT: bold
}

.text10b_npink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold
}

.text11b_npink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}

.text12b_npink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.text13b_npink {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #14539a;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold
}

.text8_blue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 8pt
}

.text9_blue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 9pt
}

.text10_blue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 12px
}

.text11_blue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 13px
}

.text12_blue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 14px
}

.text13_blue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 15px
}

.text8b_blue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}

.text9b_blue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold
}

.text10b_blue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.text11b_blue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold
}

.text12b_blue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

.text13b_blue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 15px;
    FONT-WEIGHT: bold
}

.text8_nblue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 8px
}

.text9_nblue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 9px
}

.text10_nblue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 10px
}

.text11_nblue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 11px
}

.text12_nblue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 12px
}

.text13_nblue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 13px
}

.text8b_nblue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 8px;
    FONT-WEIGHT: bold
}

.text9b_nblue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 9px;
    FONT-WEIGHT: bold
}

.text10b_nblue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold
}

.text11b_nblue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}

.text12b_nblue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.text13b_nblue {
    FONT-FAMILY: 'Sarabun', Geneva, Arial, Helvetica, Tahama, sans-serif;
    COLOR: #0157d8;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold
}

.block_Green {
    border: 1px solid #008749;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background: #d9ffe7;
}

.block_white {
    border: 1px solid #aaa;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background: #fff;
}

.HeadList {
    BACKGROUND-COLOR: #1e82cd;
    border-bottom-style: dotted;
    border-bottom-color: #0157d8;
    border-bottom-width: 1px;
    height: 25px;
    color: #FFFFFF;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    padding: 5 0 0 10;
}

.buttonlink {
    padding: 0.5em;
    margin: 5;
    color: #fff;
    font-size: 14px;
    outline: none;
    background: #0b7dd6;
    border: none;
    text-align: center;
    cursor: pointer;
}

a:hover.buttonlink {
    padding: 0.5em;
    margin: 5;
    color: #fff;
    font-size: 14px;
    outline: none;
    background: #f0bd23;
    border: none;
    text-align: center;
    cursor: pointer;
}

.buttonlink:hover {
    padding: 0.5em;
    margin: 5;
    color: #fff;
    font-size: 14px;
    outline: none;
    background: #f0bd23;
    border: none;
    text-align: center;
    cursor: pointer;
}

.buttonSmall {
    padding: 5px;
    margin: 5;
    color: #59470f;
    font-size: 14px;
    outline: none;
    background: #f0bd23;
    border: none;
    text-align: center;
}

a:hover.buttonSmall {
    padding: 5px;
    margin: 5;
    color: #fff;
    font-size: 14px;
    outline: none;
    background: #0b7dd6;
    border: none;
    text-align: center;
}

.buttonSmall:hover {
    padding: 5px;
    margin: 5;
    color: #fff;
    font-size: 14px;
    outline: none;
    background: #0b7dd6;
    border: none;
    text-align: center;
}

.buttonBlue {
    padding: 2px 5px 2px 5px;
    height: 35px;
    margin: 5;
    color: #fff;
    font-size: 14px;
    outline: none;
    background: #0b7dd6;
    border: none;
    text-align: center;
    cursor: pointer;
}

.buttonBlue:hover {
    padding: 2px 5px 2px 5px;
    height: 35px;
    margin: 5;
    color: #fff;
    font-size: 14px;
    outline: none;
    background: #14539a;
    border: none;
    text-align: center;
    cursor: pointer;
}

.buttonPlus {
    margin: 2px 2px 2px 2px;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 2px 4px 2px;
    height: 20px;
    text-align: center;
    color: #fff;
    text-align: center;
    width: 20px;
    background-color: #14539a;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonPlus:hover,
active {
    margin: 2px 2px 2px 2px;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 2px 4px 2px;
    height: 20px;
    text-align: center;
    color: #fff;
    text-align: center;
    width: 20px;
    background-color: #0b7dd6;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.buttonGreen {
    font-size: 14px;
    padding: 5px 5px 5px 5px;
    height: 30px;
    text-align: center;
    color: #fff;
    border: solid 1px #008749;
    background-color: #008749;
    cursor: pointer;
}

.buttonGreen:hover,
active {
    font-size: 14px;
    padding: 5px 5px 5px 5px;
    height: 30px;
    text-align: center;
    color: #fff;
    border: solid 1px #2a70ac;
    background-color: #2a70ac;
    cursor: pointer;
    /*		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
 
	background: -moz-linear-gradient(top, #007ef7 1%, #2a70ac 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#81cd45), color-stop(100%,#2a70ac));
	background: -webkit-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -o-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -ms-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ef7', endColorstr='#2a70ac',GradientType=0 );
*/
}

.buttonGold:hover,
active {
    font-size: 14px;
    height: 35px;
    padding: 2px 5px 2px 5px;
    color: #555;
    cursor: pointer;
    border: 1px solid #fcdf7a;
    background-color: #fcdf7a;
    /*
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background: -moz-linear-gradient(top, #fcdf7a 1%, #ffd700 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcdf7a), color-stop(100%,#ffd700));
	background: -webkit-linear-gradient(top, #fcdf7a 1%,#ffd700 100%);
	background: -o-linear-gradient(top, #fcdf7a 1%,#ffd700 100%);
	background: -ms-linear-gradient(top, #fcdf7a 1%,#ffd700 100%);
	background: linear-gradient(top, #fcdf7a 1%,#ffd700 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcdf7a', endColorstr='#ffd700',GradientType=0 );
	*/
}

.buttonGold {
    font-size: 14px;
    height: 35px;
    padding: 2px 5px 2px 5px;
    color: #555;
    cursor: pointer;
    border: solid 1px #fcdf7a;
    /*
		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background-color: #fcc814;
background: -moz-linear-gradient(top, #fcdf7a 1%, #fcc814 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcdf7a), color-stop(100%,#fcc814));
	background: -webkit-linear-gradient(top, #fcdf7a 1%,#fcc814 100%);
	background: -o-linear-gradient(top, #fcdf7a 1%,#fcc814 100%);
	background: -ms-linear-gradient(top, #fcdf7a 1%,#fcc814 100%);
	background: linear-gradient(top, #fcdf7a 1%,#fcc814 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcdf7a', endColorstr='#fcc814',GradientType=0 );
	*/
}

.buttonGray:hover,
active {
    font-size: 14px;
    height: 25px;
    padding: 2px 5px 2px 5px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #ffd700;
    /*	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

background: -moz-linear-gradient(top, #81cd45 1%, #008749 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#81cd45), color-stop(100%,#008749));
	background: -webkit-linear-gradient(top, #81cd45 1%,#008749 100%);
	background: -o-linear-gradient(top, #81cd45 1%,#008749 100%);
	background: -ms-linear-gradient(top, #81cd45 1%,#008749 100%);
	background: linear-gradient(top, #81cd45 1%,#008749 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81cd45', endColorstr='#008749',GradientType=0 );
	 */
}

.buttonGray {
    font-size: 14px;
    height: 25px;
    padding: 2px 5px 2px 5px;
    color: #555;
    cursor: pointer;
    border: solid 1px #ddd;
    /*		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background: -moz-linear-gradient(top, #fff 1%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -o-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -ms-linear-gradient(top, #fff 1%,#ddd 100%);
	background: linear-gradient(top, #fff 1%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
 
*/
}

.buttonRed {
    font-size: 14px;
    height: 35px;
    padding: 2px 5px 2px 5px;
    color: #fff;
    border: solid 1px #b50000;
    background-color: #b50000;
    cursor: pointer;
    /*
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	 
	background: -moz-linear-gradient(top, #ff0000 1%, #b50000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff0000), color-stop(100%,#b50000));
	background: -webkit-linear-gradient(top, #ff0000 1%,#b50000 100%);
	background: -o-linear-gradient(top, #ff0000 1%,#b50000 100%);
	background: -ms-linear-gradient(top, #ff0000 1%,#b50000 100%);
	background: linear-gradient(top, #ff0000 1%,#b50000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#b50000',GradientType=0 );
	 */
}

.buttonRed:hover,
active {
    font-size: 14px;
    height: 35px;
    padding: 2px 5px 2px 5px;
    color: #fff;
    border: solid 1px #b50000;
    background-color: #b50000;
    cursor: pointer;
    /*
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	 
	background: -moz-linear-gradient(top, #ff0000 1%, #b50000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff0000), color-stop(100%,#b50000));
	background: -webkit-linear-gradient(top, #ff0000 1%,#b50000 100%);
	background: -o-linear-gradient(top, #ff0000 1%,#b50000 100%);
	background: -ms-linear-gradient(top, #ff0000 1%,#b50000 100%);
	background: linear-gradient(top, #ff0000 1%,#b50000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#b50000',GradientType=0 );
*/
}

.buttonPurple {
    font-size: 14px;
    height: 25px;
    padding: 2px 5px 2px 5px;
    margin: 2px 2px 2px 2px;
    color: #fff;
    border: solid 1px #9400d3;
    background-color: #9400d3;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: -moz-linear-gradient(top, #ba55d3 1%, #9400d3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ba55d3), color-stop(100%, #9400d3));
    background: -webkit-linear-gradient(top, #ba55d3 1%, #9400d3 100%);
    background: -o-linear-gradient(top, #ba55d3 1%, #9400d3 100%);
    background: -ms-linear-gradient(top, #ba55d3 1%, #9400d3 100%);
    background: linear-gradient(top, #ba55d3 1%, #9400d3 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ba55d3', endColorstr='#9400d3', GradientType=0);
}

.buttonPurple:hover,
active {
    font-size: 14px;
    height: 25px;
    padding: 2px 5px 2px 5px;
    margin: 2px 2px 2px 2px;
    color: #fff;
    border: solid 1px purple;
    background-color: purple;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: -moz-linear-gradient(top, #9400d3 1%, purple 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #9400d3), color-stop(100%, purple));
    background: -webkit-linear-gradient(top, #9400d3 1%, purple 100%);
    background: -o-linear-gradient(top, #9400d3 1%, purple 100%);
    background: -ms-linear-gradient(top, #9400d3 1%, purple 100%);
    background: linear-gradient(top, #9400d3 1%, purple 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9400d3', endColorstr='purple', GradientType=0);
}

.buttonDisable:hover,
active {
    font-size: 14px;
    height: 35px;
    padding: 2px 5px 2px 5px;
    color: #555;
    cursor: pointer;
    border: solid 1px #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*
background: -moz-linear-gradient(top, #fff 1%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -o-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -ms-linear-gradient(top, #fff 1%,#ddd 100%);
	background: linear-gradient(top, #fff 1%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
 */
}

.buttonDisable {
    font-size: 14px;
    height: 35px;
    padding: 2px 5px 2px 5px;
    color: #555;
    cursor: pointer;
    border: solid 1px #ddd;
    /*
		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background: -moz-linear-gradient(top, #fff 1%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -o-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -ms-linear-gradient(top, #fff 1%,#ddd 100%);
	background: linear-gradient(top, #fff 1%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
 
*/
}

.buttonSearch:hover,
active {
    font-size: 14px;
    height: 30px;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #2a70ac;
    background-color: #2a70ac;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: -moz-linear-gradient(top, #007ef7 1%, #2a70ac 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #14539a), color-stop(100%, #2a70ac));
    background: -webkit-linear-gradient(top, #007ef7 1%, #2a70ac 100%);
    background: -o-linear-gradient(top, #007ef7 1%, #2a70ac 100%);
    background: -ms-linear-gradient(top, #007ef7 1%, #2a70ac 100%);
    background: linear-gradient(top, #007ef7 1%, #2a70ac 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#007ef7', endColorstr='#2a70ac', GradientType=0);
}

.buttonSearch {
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    color: #555;
    cursor: pointer;
    border: solid 1px #fcdf7a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fcc814;
    background: -moz-linear-gradient(top, #fcdf7a 1%, #fcc814 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fcdf7a), color-stop(100%, #fcc814));
    background: -webkit-linear-gradient(top, #fcdf7a 1%, #fcc814 100%);
    background: -o-linear-gradient(top, #fcdf7a 1%, #fcc814 100%);
    background: -ms-linear-gradient(top, #fcdf7a 1%, #fcc814 100%);
    background: linear-gradient(top, #fcdf7a 1%, #fcc814 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcdf7a', endColorstr='#fcc814', GradientType=0);
}

.buttonOK {
    font-size: 14px;
    padding: 5px 5px 2px 5px;
    margin: 2px 2px 2px 2px;
    color: #fff;
    border: solid 1px #0c3561;
    background-color: #0c3561;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: -moz-linear-gradient(top, #14539a 1%, #0c3561 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #14539a), color-stop(100%, #0c3561));
    background: -webkit-linear-gradient(top, #14539a 1%, #0c3561 100%);
    background: -o-linear-gradient(top, #14539a 1%, #0c3561 100%);
    background: -ms-linear-gradient(top, #14539a 1%, #0c3561 100%);
    background: linear-gradient(top, #14539a 1%, #0c3561 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#14539a', endColorstr='#0c3561', GradientType=0);
}

.buttonOK:hover,
active {
    font-size: 14px;
    padding: 5px 5px 2px 5px;
    margin: 2px 2px 2px 2px;
    color: #fff;
    border: solid 1px #14539a;
    background-color: #14539a;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*
	background: -moz-linear-gradient(top, #007ef7 1%, #2a70ac 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#14539a), color-stop(100%,#2a70ac));
	background: -webkit-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -o-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -ms-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ef7', endColorstr='#2a70ac',GradientType=0 );
	 */
}

.btnCss {
    font-size: 14px;
    padding: 5px 5px 2px 5px;
    margin: 2px 2px 2px 2px;
    color: #fff;
    border: solid 1px #0c3561;
    background-color: #0c3561;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: -moz-linear-gradient(top, #14539a 1%, #0c3561 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #14539a), color-stop(100%, #0c3561));
    background: -webkit-linear-gradient(top, #14539a 1%, #0c3561 100%);
    background: -o-linear-gradient(top, #14539a 1%, #0c3561 100%);
    background: -ms-linear-gradient(top, #14539a 1%, #0c3561 100%);
    background: linear-gradient(top, #14539a 1%, #0c3561 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#14539a', endColorstr='#0c3561', GradientType=0);
}

.btnCss:hover,
active {
    font-size: 14px;
    padding: 5px 5px 2px 5px;
    margin: 2px 2px 2px 2px;
    color: #fff;
    border: solid 1px #14539a;
    background-color: #14539a;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*
	background: -moz-linear-gradient(top, #007ef7 1%, #2a70ac 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#14539a), color-stop(100%,#2a70ac));
	background: -webkit-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -o-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: -ms-linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	background: linear-gradient(top, #007ef7 1%,#2a70ac 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ef7', endColorstr='#2a70ac',GradientType=0 );
	 */
}


/*Cookie*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    padding: 30px 0;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.1s ease-in-out;
    background: #024E73;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.main_nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main_nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-family: "Montserrat", sans-serif;
}

.main_nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: all 0.3s linear;
}

.main_nav ul li:hover a {
    color: #f00
}


/*Cookies
---------------------------------------------*/

.cookie_box {
    z-index: 9999;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: #333;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.hide {
    display: none;
}

.cookie_box img {
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.cookie_box h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 30px;
}

.cookie_box button {
    padding: 8px 25px;
    background: #027cb7;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.cookie_box button:focus {
    background: #054d6f;
}

.modal-successss {
    color: #434e65;
    width: 500px;
}

.modal-successss .modal-content {
    background: #fff;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.modal-successss .modal-header {
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 10px 10px 0 0;
}

.modal-successss h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}

.modal-successss .form-control,
.modal-successss .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-successss .close {
    position: absolute;
    top: 15px;
    right: 15px;
    text-shadow: none;
    opacity: 0.5;
}

.modal-successss .close:hover {
    opacity: 0.8;
}

.modal-successss .icon-box {
    color: #48DB71;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    padding: 15px;
    text-align: center;
}

.modal-successss .icon-box i {
    font-size: 100px;
    margin: -2px 0 0 -2px;
}

.modal-successss.modal-dialog {
    margin-top: 80px;
}

.modal-successss .btn {
    color: #fff;
    border-radius: 4px;
    background: #48DB71;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    min-width: 150px;
    border: none;
}

.modal-successss .btn:hover,
.modal-successss .btn:focus {
    background: #434e65;
    color: #fff;
    outline: none;
}

.modal-warningalert {
    color: #434e65;
    width: 500px;
}

.modal-warningalert .modal-content {
    background: #fff;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.modal-warningalert .modal-header {
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 10px 10px 0 0;
}

.modal-warningalert h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}

.modal-warningalert .form-control,
.modal-warningalert .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-warningalert .close {
    position: absolute;
    top: 15px;
    right: 15px;
    text-shadow: none;
    opacity: 0.5;
}

.modal-warningalert .close:hover {
    opacity: 0.8;
}

.modal-warningalert .icon-box {
    color: #e85e6c;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    padding: 15px;
    text-align: center;
}

.modal-warningalert .icon-box i {
    font-size: 100px;
    margin: -2px 0 0 -2px;
}

.modal-warningalert.modal-dialog {
    margin-top: 80px;
}

.modal-warningalert .btn {
    color: #fff;
    border-radius: 4px;
    background: #e85e6c;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    min-width: 150px;
    border: none;
}

.modal-warningalert .btn:hover,
.modal-warningalert .btn:focus {
    background: #434e65;
    color: #fff;
    outline: none;
}

.modal-warninginfo {
    color: #434e65;
    width: 500px;
}

.modal-warninginfo .modal-content {
    background: #fff;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.modal-warninginfo .modal-header {
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 10px 10px 0 0;
}

.modal-warninginfo h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}

.modal-warninginfo .form-control,
.modal-warninginfo .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-warninginfo .close {
    position: absolute;
    top: 15px;
    right: 15px;
    text-shadow: none;
    opacity: 0.5;
}

.modal-warninginfo .close:hover {
    opacity: 0.8;
}

.modal-warninginfo .icon-box {
    color: #f6c23e;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    padding: 15px;
    text-align: center;
}

.modal-warninginfo .icon-box i {
    font-size: 100px;
    margin: -2px 0 0 -2px;
}

.modal-warninginfo.modal-dialog {
    margin-top: 80px;
}

.modal-warninginfo .btn {
    color: #fff;
    border-radius: 4px;
    background: #f6c23e;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    min-width: 150px;
    border: none;
}

.modal-warninginfo .btn:hover,
.modal-warninginfo .btn:focus {
    background: #434e65;
    color: #fff;
    outline: none;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}