
.dialog_bg {
background-color: #222;
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
	opacity:0.4;filter:alpha(opacity=40);
}
.dialog_box {
	border:solid 1px #4a4a4a;
	background-color: #fff;
}

.title {
padding: 0px 0px 0px 5px;
font-weight: bold;
	color:#fff;
	line-height: 25px;
	font-size: 12px;
	border:solid 1px #74a923;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

	background: -moz-linear-gradient(top, #8cc418 1%, #74a923 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#8cc418), color-stop(100%,#74a923));
	background: -webkit-linear-gradient(top, #8cc418 1%,#74a923 100%);
	background: -o-linear-gradient(top, #8cc418 1%,#74a923 100%);
	background: -ms-linear-gradient(top, #8cc418 1%,#74a923 100%);
	background: linear-gradient(top, #8cc418 1%,#74a923 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
		
}
.dialog_content {
	padding: 10px 10px 10px 10px;
	font-size: 12px;
}

input[type=button]{
padding: 5px 5px 5px 5px;	
	margin: 5px 5px 5px 5px;
	font-size: 12px;
	color:#363636;
	cursor:pointer;
	  border:solid 1px #ddd;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

	background: -moz-linear-gradient(top, #fff 1%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -o-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -ms-linear-gradient(top, #fff 1%,#ddd 100%);
	background: linear-gradient(top, #fff 1%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
			
}
input[type=button]:hover,active{
 padding: 5px 5px 5px 5px;	
	margin: 5px 5px 5px 5px;
	font-size: 12px;
	color: #fff;
		border:solid 1px #74a923;
		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	background: -moz-linear-gradient(top, #8cc418 1%, #74a923 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#8cc418), color-stop(100%,#74a923));
	background: -webkit-linear-gradient(top, #8cc418 1%,#74a923 100%);
	background: -o-linear-gradient(top, #8cc418 1%,#74a923 100%);
	background: -ms-linear-gradient(top, #8cc418 1%,#74a923 100%);
	background: linear-gradient(top, #8cc418 1%,#74a923 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
		
} 


.buttonModal{
	font-size: 13px;
	padding: 4px 5px 4px 5px;	
	margin: 5px 5px 5px 5px;
	color:#363636;
	cursor:pointer;
	  border:solid 1px #ddd;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

background: -moz-linear-gradient(top, #fff 1%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -o-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -ms-linear-gradient(top, #fff 1%,#ddd 100%);
	background: linear-gradient(top, #fff 1%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
				
}
.buttonModal:hover,active{
  padding: 4px 5px 4px 5px;	
	margin: 5px 5px 5px 5px;
	font-size: 13px;
	color: #fff;
		border:solid 1px #74a923;
		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	background: -moz-linear-gradient(top, #8cc418 1%, #74a923 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#8cc418), color-stop(100%,#74a923));
	background: -webkit-linear-gradient(top, #8cc418 1%,#74a923 100%);
	background: -o-linear-gradient(top, #8cc418 1%,#74a923 100%);
	background: -ms-linear-gradient(top, #8cc418 1%,#74a923 100%);
	background: linear-gradient(top, #8cc418 1%,#74a923 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
		
} 
