﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucFormMenu.ascx.vb" Inherits=".ucFormMenu" %>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
<ul class="menu1" >
     <% If Request.QueryString("ItemType") = "f" Then%>
        <li><a class="current" href="FormList.aspx?ActionType=act&ItemType=f"> โครงการให้คำปรึกษา </a></li>
      <% Else %>
        <li><a href="FormList.aspx?ActionType=act&ItemType=f"> โครงการให้คำปรึกษา</a></li>
      <% End If %>
                 
      <% If Request("ItemType") = "smk" Then%>
        <li><a class="current" href="FormList_Smoking.aspx?ActionType=act&ItemType=smk">โครงการบุหรี่</a></li>
      <% Else %>
        <li><a href="FormList_Smoking.aspx?ActionType=act&ItemType=smk">โครงการบุหรี่</a></li>
      <% End If %> 

 <% If Convert.ToInt32(Request.Cookies("RoleID").Value) = isProjectManager And Request.Cookies("PRJMNG").Value = PROJECT_SMOKING Then%>    
            
      <% If Request.QueryString("ItemType") = "edt" Then%>
          <li><a class="current" href="FormEdit.aspx?ActionType=act&ItemType=edt">แก้ไขรายการกิจกรรม</a></li>
      <% Else%>
          <li><a href="FormEdit.aspx?ActionType=act&ItemType=edt">แก้ไขรายการกิจกรรม</a></li>
      <% End If%>            
           
<% End If%> 
       
    
</ul>

</td>
  </tr>
</table>