﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucPaymentMenu.ascx.vb" Inherits=".ucPaymentMenu" %>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
<ul class="menu1" >
      <% If Request.QueryString("ItemType") = "f" Then%>
        <li><a class="current" href="FormReceived.aspx?ActionType=inv&ItemType=f"> โครงการให้คำปรึกษา </a></li>
      <% Else %>
        <li><a href="FormReceived.aspx?ActionType=inv&ItemType=f"> โครงการให้คำปรึกษา</a></li>
      <% End If %>
                 
      <% If Request("ItemType") = "smk" Then%>
        <li><a class="current" href="FormReceived_Smoking.aspx?ActionType=inv&ItemType=smk">โครงการบุหรี่</a></li>
      <% Else %>
        <li><a href="FormReceived_Smoking.aspx?ActionType=inv&ItemType=smk">โครงการบุหรี่</a></li>
      <% End If %> 

       <% If Request("ItemType") = "smk2" Then%>
        <li><a class="current" href="FormReceived_SmokingStop.aspx?ActionType=inv&ItemType=smk2">โครงการบุหรี่จ่ายหยุดสูบ</a></li>
      <% Else %>
        <li><a href="FormReceived_SmokingStop.aspx?ActionType=inv&ItemType=smk2">โครงการบุหรี่จ่ายหยุดสูบ</a></li>
      <% End If %> 
</ul></td>
  </tr>
</table>