﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucReportMenu.ascx.vb" Inherits=".ucReportMenu" %>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
<ul class="menu1" >
 <% If Convert.ToInt32(Request.Cookies("RoleID").Value) = isShopAccess Then%>       
            
      <% If Request.QueryString("ItemType") = "fnc" Then%>
          <li><a class="current" href="ReportCondition.aspx?ActionType=rpt&ItemType=fnc">รายงานสรุปจำนวนกิจกรรม</a></li>
      <% Else%>
          <li><a href="ReportCondition.aspx?ActionType=rpt&ItemType=fnc">รายงานสรุปจำนวนกิจกรรม</a></li>
      <% End If%>            
     
      <% If Request.QueryString("ItemType") = "cus" Then%>
          <li><a class="current" href="ReportCondition.aspx?ActionType=rpt&ItemType=cus">รายงานรายชื่อผู้เข้ารับบริการแยกตามกิจกรรม</a></li>
      <% Else%>
          <li><a href="ReportCondition.aspx?ActionType=rpt&ItemType=cus">รายงานรายชื่อผู้เข้ารับบริการแยกตามกิจกรรม</a></li>
      <% End If%> 
<% End If%> 
       
    
</ul>

</td>
  </tr>
</table>