﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucSettingMenu.ascx.vb" Inherits=".ucSettingMenu" %><style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
<ul class="menu1" >
     <% If Request.QueryString("ActionType") = "news" Then%>
        <% If Request.QueryString("ItemType") = "news" Then%>
        <li><a class="current" href="News_List.aspx?ActionType=news&ItemType=news&patientid=0"> รายการข่าวประชาสัมพันธ์ </a></li>
      <% Else %>
        <li><a href="News_List.aspx?ActionType=news&ItemType=news&patientid=0"> รายการข่าวประชาสัมพันธ์</a></li>
      <% End If %>

       <% If Request.QueryString("ItemType") = "addnews" Then%>
        <li><a class="current" href="News_Manage.aspx?ActionType=news&ItemType=addnews&patientid=0"> เพิ่มข่าวประชาสัมพันธ์ </a></li>
      <% Else %>
        <li><a href="News_Manage.aspx?ActionType=news&ItemType=addnews&patientid=0"> เพิ่มข่าวประชาสัมพันธ์</a></li>
      <% End If %>


      <% Else%>  

      <% If Request.QueryString("ItemType") = "stype" Then%>
        <li><a class="current" href="ServiceType.aspx?ActionType=setting&ItemType=stype"> ประเภทกิจกรรม</a></li>
      <% Else %>
        <li><a href="ServiceType.aspx?ActionType=setting&ItemType=stype"> ประเภทกิจกรรม</a></li>
      <% End If %>
                 
      <% If Request("ItemType") = "gprov" Then%>
        <li><a class="current" href="ProvincesGroup.aspx?ActionType=setting&ItemType=gprov"">กลุ่มจังหวัด/ภาค</a></li>
      <% Else %>
        <li><a href="ProvincesGroup.aspx?ActionType=setting&ItemType=gprov"">กลุ่มจังหวัด/ภาค</a></li>
      <% End If %>  

      <% If Request("ItemType") = "prov" Then%>
        <li><a class="current" href="Provinces.aspx?ActionType=setting&ItemType=prov"">จังหวัด</a></li>
      <% Else %>
        <li><a href="Provinces.aspx?ActionType=setting&ItemType=prov"">จังหวัด</a></li>
      <% End If %>  
       <% If Request("ItemType") = "bank" Then%>
        <li><a class="current" href="Banks.aspx?ActionType=setting&ItemType=bank">ธนาคาร</a></li>
      <% Else %>
        <li><a href="Banks.aspx?ActionType=setting&ItemType=bank">ธนาคาร</a></li>
      <% End If %> 
       

     <% If Request("ItemType") = "pcfg" Then%>
        <li><a class="current" href="PaymentConfig2.aspx?ActionType=setting&ItemType=pcfg">กำหนดค่าตอบแทน</a></li>
      <% Else %>
        <li><a href="PaymentConfig2.aspx?ActionType=setting&ItemType=pcfg">กำหนดค่าตอบแทน</a></li>
      <% End If %> 


     <% End If %>    
</ul></td>
  </tr>
</table>