﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucUserMenu.ascx.vb" Inherits=".ucUserMenu" %><style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
<ul class="menu1" >
      <% If Request.QueryString("ItemType") = "add" Then%>
        <li><a class="current" href="Users.aspx?ActionType=user&ItemType=add"> เพิ่มผู้ใช้งาน </a></li>
      <% Else %>
        <li><a href="Users.aspx?ActionType=user&ItemType=add"> เพิ่มผู้ใช้งาน</a></li>
      <% End If %>
                 
      <% If Request("ItemType") = "AddShop" Then%>
        <li><a class="current" href="LogfilesByUser.aspx?ActionType=user&ItemType=history">ตรวจสอบประวัติการใช้งาน</a></li>
      <% Else %>
        <li><a href="LogfilesByUser.aspx?ActionType=user&ItemType=history">ตรวจสอบประวัติการใช้งาน</a></li>
      <% End If %> 
      
</ul></td>
  </tr>
</table>