﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucVMIMenu.ascx.vb" Inherits=".ucVMIMenu" %><style type="text/css">

</style>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
<ul class="menu1" >

<% If Convert.ToInt32(Request.Cookies("RoleID").Value) = isShopAccess  Then%>
            <li>
                <% If Request.QueryString("ItemType") = "stk" Then%>
                    <a class="current" href="vmiStock.aspx?ActionType=vmi&ItemType=stk"><span>Stock</span></a>
                <% Else%>
                    <a href="vmiStock.aspx?ActionType=vmi&ItemType=stk"><span>Stock</span></a>
                <% End If%>
            </li>              
               	           
  
             
              <% If Request.QueryString("ItemType") = "rec" Then%>
                <li><a class="current" href="vmiStockReceive.aspx?ActionType=vmi&ItemType=rec">Receive</a></li>
              <% Else %>
                <li><a href="vmiStockReceive.aspx?ActionType=vmi&ItemType=rec">Receive</a></li>
              <% End If %>


              <% If Request.QueryString("ItemType") = "use" Then%>
                <li><a class="current" href="ReportConditionByDate.aspx?ActionType=vmi&ItemType=use">รายงานการจ่ายยา</a></li>
              <% Else %>
                <li><a href="ReportConditionByDate.aspx?ActionType=vmi&ItemType=use">รายงานการจ่ายยา</a></li>
              <% End If %>


<% End If%>
</ul></td>
  </tr>
</table>