﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="test.aspx.vb" Inherits=".test" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label id="lblText" runat="server"></asp:Label>
        </div>
    </form>
</body>
</html>
